<% include ./partial/header%>
</head>
<body>
<% include ./partial/nav%>
<div class="am-cf admin-main">
	<!-- sidebar start -->	
	<% include ./partial/catasidebar%>
	<!-- sidebar end -->
	<!-- content start -->
	<div class="admin-content">

	</div> 
	<!-- content end -->
</div>
</body>
</html>