<% include ./partial/header%>
</head>
<body class="loginbg">
<div class="loginwrap">
	<form class="am-form am-form-horizontal" role="form" action="/admin/login" method="POST">
		<div class="form-group row">
			<div  class="col-md-2 ipt-label">帐号</div>
			<div class="col-md-10">
				<input type="text" class="form-control" id="uname" name="uname" placeholder="帐号" >
			</div>
		</div>
		<div class="form-group row">
			<div  class="col-md-2 ipt-label">密码</div>
			<div class="col-md-10">
				<input type="password"  class="form-control" id="pwd" name="pwd" placeholder="密码"  >
			</div>
		</div>  
		<div class="form-group row">
			<div class="col-md-12">
				<button type="submit" id="loginBtnSub" class="btn btn-sm btn-primary">登录</button>
			</div>
		</div>
	</form>
	<div style="clear:both"></div>
	<div class="msgbox">
		<% if(typeof(msg) !== 'undefined' && msg.status !== -1){ %>
		<div class="alert <%=(msg.status === 1)?"alert-success":"alert-warning" %>" role='alert'>
			<%-msg.content %> 
		</div>
		<% } %>
	</div>
</div>
</body>
</html>