.ad_wrap{
	height: 400px;
	margin-top: 150px;
}
.ad_nav{
	margin: 0 auto;
	text-align: center;
}
.ad_nav_cata{
	display: inline-block;
	width: 140px;
	height: 50px;
	background-color: #449172;
	color: #fff;
	font-size: 18px;
	text-align: center;
	line-height: 50px;
} 
.ad_nav_cata:hover{
	color: #fff;
	text-decoration: none;
	background-color:#20855D; 
}
.ad_pre{
	display: block;
	margin: 0 auto;
	width: 73px;
}