.rep_msg_box {
	background-color: #fff; 
	border-bottom: 1px solid #eee;
	margin-top: 10px;
}
.nosignin{
	text-align: center; 
	background-color: #fff;
	padding-top: 25px;
	font-size: 15px;
	padding-bottom: 25px;
}
.leftwrap .replywritepanel{
	height: 140px;
	margin: 0 auto;
	overflow: hidden;
	padding: 15px 20px;
	background-color: #fff;
}
.replywritepanel form{
	padding: 10px 0px;
}
.reply_msg_item {
	border-top: 1px solid #EAE7E7;
	padding: 10px 20px;
	overflow: hidden;
}

.reply_user_photo {
	float: left;
	width: 48px;
	height: 48px;
	overflow: hidden
}

.reply_user_photo img {
	width: 48px;
	height: 48px;
	border-radius: 25px;
	border: 2px solid #fff;
	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out
}

.reply_user_photo .userlink:hover img {
	border: 2px solid #D5C8DB
}

.reply_content_info {
	margin-left: 55px
}

.reply_info span {
	color: #999;
	font-size: 12px;
} 
.article_head_info{
    padding: 10px 0px;
    width: 685px;
    margin: 0 auto;
    border-bottom: 1px dashed #E0E0E0;
}
.article_head_info a{	
	font:14px/1.5 "微软雅黑",Verdana,Geneva,sans-serif;
	color: #838383;
}

.detail_content{
	padding: 15px 20px;
	padding-top: 10px;
}
.reply_user_name a{
	font-size: 14px;
	color: #838383;	
}

.reply_user_name a:hover {
	color: #07695E; 
}
.article_head_info span:nth-child(2):before {
	content: "•";
}
.article_head_info span:nth-child(3):before {
	content: "•";
}
.article_head_info span{ 
	font:14px/1.5 "微软雅黑",Verdana,Geneva,sans-serif;
	color: #838383;
}
.reply_date:before {
	content: "•";
}
.reply_date{ 
	font-size: 14px;
	color: #838383;
}
.reply_content a{
	color: #645A5A;
}
.reply_info .opt {
	float: right;
	font-size: 12px;
	opacity: 0.6;
}
.replyat{
	color: #999;
}
.articleitem_detail{
	background-color: #FFF;
	margin-top: 51px;
	padding-bottom: 30px;
	border-bottom: 1px solid #eee;
}
.msg_content_detail {
	color: #333;
	line-height: 1.8em;
	overflow: hidden;
	font: 15px/1.8 "微软雅黑",Verdana,Geneva,sans-serif;
	border: 0 solid #ccc!important;
	margin: 6px 0;
	padding-bottom: 10px;
	border-radius: 0;
}
.msg_content_detail pre{
	font-size: 14px; 
	padding: 5px 15px;
	border: 0;
	border-radius: 2px;
	border-width: 1px 0;
	background: #fff;
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}
.share {
	text-align: center;
	position: relative;
	overflow: visible;
}

.tag-item a:hover{
	opacity: 0.8;
}
.label-item a { 
    text-decoration: none;
    font-weight: 400;
    background-color: #DFE2E6;
    font-size: 10px;
    color: #999;
    height: 19px;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
    line-height: 19px;
    float: left;
    padding: 0 10px 0 10px;
    position: relative; 
    margin: 0 2px 0 3px;
}  
.label-item{
	list-style: none;
	float:left;
} 
.label-item a:hover { 
    background-color: #CCC;
}

.other-article-info{
	padding:0px 20px;
}
.other-article-info .articlelabel{
	float:left;
	margin-left: 0px;
}
.operator{
	float:right;
}
.operator a {
	color:#999999;
	cursor: pointer;
	margin-left: 10px;
}  
.arrow-top::before, .arrow-top::after {
	position: absolute;
	top: -10px;
	left: 35%;
	content: '';
	display: inline-block;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 9px solid #d9d9d9;
}
.share .dropdown-menu img {
	width: 16px;
	height: 16px;
	margin-top: -4px;
	margin-right: 5px;
}
.share .dropdown-menu{
	min-width: 100px;
	right: -28px;
	top: 25px;
	left: auto;
}
.share .dropdown-menu li a {
	display: block;
	padding: 3px 10px;
	clear: both;
	font-weight: 400;
	margin:0px;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}
.detail_msg_head{
	font-size: 19px;
	color: #383838;  
	line-height: 19px; 
}
.detail_msg_title{
	padding: 10px 20px;
    color: #333;
    font-size: 15px; 
    height: 40px;
    background-color: #f5f5f5;
    border-bottom: 2px solid #DCDDD9;
}
}
.no_reply_notice{
	padding: 20px 0px;
    text-align: center;
    font-size: 15px;
    color: #A4A4A4;
}
.nosignin a{ 
	padding: 0px 4px; 
	font-size: 15px; 
	color: #00a090;
}
.nosignin a:hover{
	text-decoration: underline;
} 
.opt a {
	color: #999;
}
.opt a:hover{
	color:#777777;
}
.reply_info .replyat:hover img {
	border: 2px solid #D5C8DB
}
.detail_content img{  
	display: block;
	margin: 0 auto;
} 
#replywrap{
	position:relative;
	padding-left: 0px;
	padding-right: 0px;
}
#reply_input,.atreply{
	width: 630px;
	height: 30px;
	resize: vertical;
	border-radius: 0px;
	padding: 4px 40px 4px 4px;
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	-o-transition: all linear 0.2s;
	transition: all linear 0.2s;
}

#repstr{
	width: 685px;
	padding: 0px;
	margin-right: 0px;
	position:relative;
}
.inputopt {
  	display:none; 
	position: absolute;
	right: 10px;
	bottom: 8px;
}
.inputopt button{
	padding:0px;
	background-color: transparent;
	color:gray;
	border:0px;
}
.inputopt button:hover{ 
	background-color: #eee; 
}


.selfimg{
	float: left;
	width: 48px; 
}
.selfimg img{
	display: block;
	width: 30px; 
	margin:0 auto;
	border-radius: 24px;	
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	-o-transition: all linear 0.2s;
	transition: all linear 0.2s;
} 
.writebox{	
	float: right;
}

#rep_msg_head{
    height: 40px;
    font-size: 19px;
    color: #383838;
    padding: 10px 20px;
    line-height: 20px;
}
#last-reply-time{
	color: #838383;
    font-size: 12px;
    font-weight: 200; 
}

#last-reply-time::before{
	content: "|";
}
#reply-num{
	float: right;	
	color: #838383;
    font-size: 12px;
}