body {
	padding: 0;
	margin: 0;
	color: #504C4C;
	background-color: #fff;
 	background: url(../images/background2.png) repeat; 
	font: 14px "微软雅黑", Verdana, Geneva, sans-serif;
}

a {
	color: #303e48;
}  
a:hover{
	cursor:pointer;
	text-decoration: none;
}
.text-align{
	text-align: center;
}
input:focus,textarea:focus{
	outline:0;
	border-color:rgba(82,168,236,0.8); 
}

textarea ,input{
	border-radius: 4px; 
	overflow:hidden;
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}
ul{
	padding: 0px;
	margin: 0px;
} 
.modal-open{
    overflow: inherit ;
}
.modal-content{
	border-radius: 0px;
}
.mainwrap { 
	width: 970px;
	min-height: 400px;
	margin: 10px auto 0;
	margin-top: 60px; 
}

 
.inputopt {
	float: right;
	margin-top: 5px
}

.allmsg {
	margin: 0 auto; 
	overflow: hidden;
} 
.rightwrap {
	float: right; 
	width: 245px;
	padding: 0 15px 10px;
	background-color: #fff;
	border-left: 1px solid #f0f0f0;
} 
.leftwrap {
	  margin-right: 245px;
}
 
.nav_reg_login li{
	list-style: none;
	margin-top: 5px;
}
.copyright {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 60px;
	border-top: 1px solid #C2C2C2;
	color: #707b91;
	background-color: #fff;
	width: 100%;
}

.copyright a {
	color: #707b91;
}
.otherlink:before {
	content: " • ";
}
.otherlink:hover{
	color: #707b91;
}
.about-site{
	width: 725px;
    margin-left: 114px;
    margin-left: 154px;
    text-align: left;
}
.git-notice{	
    width: 725px;
    margin-left: 154px;
    text-align: left;
    color: #ccc;
    font-size: 14px;
}
.aboutpanel {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px; 
	overflow: hidden
}

.leftinfo {
	float: left;
	width: 60%
}

.link_btn {
	display: inline-block;
	padding: 7px 12px;
	background: -moz-linear-gradient(#39E,#2389de);
	background: -webkit-linear-gradient(#39E,#2389de);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3399ee',endColorstr='#ff2389de')";
	border: 1px solid #39E;
	color: #fff;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	text-decoration: none
}

.link_btn:hover {
	background: -moz-linear-gradient(#28d,#1278cd);
	background: -webkit-linear-gradient(#28d,#1278cd);
	filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#1471da, endColorstr=#1C85FB)";/*IE<9>*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2288dd',endColorstr='#ff1278cd')";
	border: 1px solid #28d;
	color: #fff;
	text-decoration: none
}

.followfri {
    border: 1px solid #7aa9cc;
    color: #7aa9cc;
    border-radius: 15px;
    display: inline-block;
    height: 34px;
    line-height: 32px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 120px;
	cursor: pointer;
}

.followfri:hover {
	color: #fff;
    background-color: #7aa9cc;
}

.unfollowfri {
    border: 1px solid #7aa9cc;
    color: #fff;
    background-color: #7aa9cc;
    border-radius: 15px;
    display: inline-block;
    height: 34px;
    line-height: 32px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 120px;
	cursor: pointer;
}

.unfollowfri:hover {
    color: #7aa9cc;
    background-color: transparent;
}

#gmsgbox{
	transition: all 0.3s;
	-moz-transition: all 0.3s;	/* Firefox 4 */
	-webkit-transition: all 0.3s;	/* Safari 和 Chrome */
	-o-transition: all 0.3s;	/* Opera */ 
	height: 54px;
	text-align:center;
	width: 100%;
	color: #fff;
	position: fixed; 
	z-index: 1033;
	font-size: 19px;
	padding: 10px 0px;
}
.msgbox_success{	
	background: #00a090;
}
.msgbox_error{
	background: #A6AB56; 
}
.msgboxin{
	top:0px;
}
.msgboxout{
	top:-50px;
}
.add_bottom_dashed{
	border-bottom:1px dashed #E0E0E0;
}
.add_bottom_solid{
	border-bottom:1px solid #E0E0E0;
}
@media screen and (max-width: 979px) {

  	.leftwrap {
  		width: 100%;
  		min-width: 0px;
 	}
	.rightwrap {
	    float: none;
	    position: absolute;
	    right: -100%;
	    top: 0px;
	    display:none;
	    background-color: #FFF;
	    z-index: 999;
	    border-width: 5px 0px 5px 5px;
	    border-style: solid none solid solid;
	    border-color: #CCC -moz-use-text-color #CCC #CCC;
	    -moz-border-top-colors: none;
	    -moz-border-right-colors: none;
	    -moz-border-bottom-colors: none;
	    -moz-border-left-colors: none;
	    border-image: none;
	    transition: right 0.3s ease 0s;
	}
	.meiriyiju{
		display: none;
	}
	.mainwrap{ 
	 	width:100% !important;
	 	min-width: 0px;  
	 	position: relative;
	}
	.headsearch{
		display: none;
	}
	.navwrap{
		width: 100% !important;
		height: 50px !important;
	}
	.navul a{
		height: auto !important;
		padding:0 !important;
	} 
	.navul .active a {
		height: auto !important;		
	}
	.container {
		width: 100%!important;
	}
	.reg_login {
		float: none !important;
	} 
	.navul{
		margin-left: -40px;
	}
	.leftreg {
		 margin-left: 0px !important;
	} 
}
