.meiriyiju {
	margin: 0 auto;
	overflow: hidden;
	padding: 0 20px;
	color: #606060;
	background: #fff;
	height: 100px;
	padding: 5px;
	border-radius: 0px 0px 5px 5px;
}

.onesentence {
	margin: 0px 40px 10px;;
}

.onesentence p {
	font-size: 16px;
	text-indent: 2em;
	line-height: 26px;
}

.statistics {
	text-align: right;
	margin: 0px 40px 0
}

.statistics p {
	font-size: 16px
}

.writepanel {
	margin: 0 auto;
	overflow: hidden;
	padding: 20px 20px;
	background-color: #fff;
}

.writebox {
	width: 100%;
	/*width: 605px;*/
	height: 64px
}

.textarea {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
    outline: none;
    height: 250px;
  }

.articleitem {  
	padding: 10px 20px;
	background-color: #FFF;
	margin-top: 1px; 
	border-bottom: 1px solid #f0f0f0
}
.articleitem-first {
	padding: 10px 20px;
	background-color: #FFF;
	margin-top: 1px;
	border-radius: 0px 0px 5px 5px;
}
/*
	box-shadow: 2px 0 5px rgba(214, 214, 215, 0.9), -2px 0 5px rgba(214, 214, 215, 0.9);*/
.photowrap {
	float: left;
	width: 48px;
	height: 48px;
	position: relative;
	overflow: hidden; 
}

.photowrap img {
	width: 48px;
	height: 48px;
	border-radius: 24px;
	border: 2px solid #fff; 
	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out
}

.photowrap .userlink:hover img {
	border: 2px solid #07695F;
}
.photowrap .userlink{
	width: 48px;
	height: 48px;
	display: block;
}

.msg_content {
	color: #333;
	line-height: 1.8em;
	overflow: hidden;
	font:14px/1.7 "微软雅黑", Verdana, Geneva, sans-serif;
	border: 0 solid #ccc!important;
	margin: 6px 0px 6px 0px;
	border-radius: 0;
}
.article_title{	
	color: #07695F;
	font-size: 18px;
	text-decoration: none;
}
.article_msg_content{	
	color: #333;
	line-height: 1.8em;
	overflow: hidden;
	font: 14px/1.7 "微软雅黑",Verdana,Geneva,sans-serif;
	border: 0 solid #ccc!important;
	margin: 6px 0;
	border-radius: 0;
}
.shuo_sty {
	font-size: 14px;
	color: #777;
	margin-top: 10px
}
.shuo_sty:before{
	content: "•";
}
.title{
	color: #07695F;
	text-decoration: none;
}
.title:hover{
	color:#777 ;
	text-decoration: none;
}
.sitetext{ 
	color: #777;
	padding: 1px 5px;
	background-color: #f5f5f5;
}
.sitetext:hover{
	color:#07695F ;
	text-decoration: none;
}
.sitepic{
	width:20px;
	height: 20px;
}
.otherinfowrap {
	position: relative;
	font-size: 14px;
	color: #777;
	margin-top: 12px;
	height: 35px;
	padding: 8px 0px;
	opacity: 0.8;
}
.articledate{ 
	float: left;
	color: #999;
}

.articletag{	 
	float: left;
	margin-left: 15px;
	color: #999;
}  
.articletag a{	 
	font-size: 14px;
	color: #999;
} 
.articletag a:hover{	 
	color: #07695E;
} 
.author-wrap{
	display: inline-block;
	position: absolute;
	color: #999;
	left: 50%;
}
.author-wrap a{	
	color: #999;
}
.author-wrap a:hover{	 
	color: #07695E;
} 
.articlelabel{
	display: inline-block;
	float: left;
	margin-left: 15px;
}
.taglist{
	display:inline-block;
}
.tag-item{
	list-style: none;
	float:left;
}

.tag-item a:hover{
	opacity: 0.8;
}
.label-item a {
	display: inline-block;
	text-decoration: none;
	font-weight: normal;
	font-size: 10px;
	color: #fff;
	height: 18px;
	line-height: 18px;
	float: left;
	padding: 0 5px 0px 10px;
	position: relative;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	margin: 0px 7px 0px 8px
	font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
}
.label-item a:before {
	content: " ";
	width: 0px;
	height: 0px;
	position: absolute;
	top: 0;
	left: -18px;
	border: 9px solid transparent;
}
.label-item a:after {
	content: " ";
	width: 4px;
	height: 4px;
	background-color: #fff;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);
	position: absolute;
	top: 7px;
	left: 2px;
}
.label-item{
	list-style: none;
	float:left;
}
.label-item a.color1 {
  background: #ff945c;
}
.label-item a.color1:before {
  border-right-color: #ff945c;
}
.label-item a.color2 {
  background: #f5c7b7;
}
.label-item a.color2:before {
  border-right-color: #f5c7b7;
}
.label-item a.color3 {
  background: #ba8f6c;
}
.label-item a.color3:before {
  border-right-color: #ba8f6c;
}
.label-item a.color4 {
  background: #cfb7c4;
}
.label-item a.color4:before {
  border-right-color: #cfb7c4;
}
.label-item a.color5 {
  background: #7b5d5f;
}
.label-item a.color5:before {
  border-right-color: #7b5d5f;
}
.label-item a:hover {
	opacity: 0.8;
}
.leftwrap i{
	margin-right: 5px;
}
.operwrap{
	float: right; 
}
.biaotai {
	float: right;
}

.operwrap a {
	color: #999;
	display: inline-block; 
	padding: 0px 5px; 
}
.operwrap i{
	margin-left: 5px;
}
.biaotai .likebtn{
	color: #999;
	display: inline-block;
	background-color: #6AE1A9;
	padding: 2px 5px 2px 5px;
	border-radius: 5px;
	cursor: hand;
}

.biaotai .unlikebtn{
	color: #999;
	display: inline-block;
	background-color: #444;
	padding: 2px 5px 2px 5px;
	border-radius: 5px;
	cursor: hand;
}

.operwrap a:hover {
	cursor: pointer
}

.loginwrap {
	width: 100%;
	height: 160px;
	margin-top: 20px;
} 
.form-horizontal .form-group{
	margin-left: 0px;
	margin-right: 0px;
}

.loginwrap input {
	border-radius: 4px;
	padding-left: 35px;
	border: 0px;
	background-color: #e4e4e4;
}

.page_header_info {
	font-size: 20px; 
	width: 100%;  
	color: #555; 
}

.userfresh {
	margin-top: 20px
}

.userfresh img {
	width: 45px;
	height: 45px;
	display: block;
	margin: 0 auto
}


.sidetitle {
	font-size: 18px; 
	height: 33px;
	border-bottom: 2px solid #DCDDD9;
}
.sidetitle .titletext{
	border-bottom: 2px solid #00a090;
	padding: 5px 3px;
	position: relative;
	height: 33px;
	margin-bottom: -2px;
	display: inline-block;
}
.userlist {
	margin-top: 5px
}
.downloadapp{
	margin-top: 20px;
}
.fansuserlink{
	width: 100%;
	height: 40px;
	display: block;
}
.fansuserlink:hover{
	background-color: #F0F0F0;
}
.userview {
	height: 40px;
	width: 100%;
	padding: 5px;
	line-height: 18px;
	float: left;
	text-align: center;
	font-size: 12px;
	border-bottom: 1px solid #eee;
} 
.userview .imagewrap{
	width: 30px;
	height: 30px;
	display: block;
	margin: 0 auto;
	border-radius: 30px;
	display: inline-block;
	float: left;
}
.userview .namewrap{
	display: inline-block;
	float: left;
	height: 30px;
	margin-left: 20px;
	line-height: 30px;
}
.userview img{
	width: 30px;
	height: 30px;
	display: block;
	margin: 0 auto;
	border-radius: 30px;
}
.userview .ordernum{
	display: inline-block;
	padding: 0 3px;
	height: 20px;
	float: right;
	width: 20px;
	margin-top: 5px;
	color: #FFF;
	line-height: 20px;
	font-size: 15px;
	border-radius: 15px;
}
.firstorder{
	background-color: #F39360;
}
.secondorder{
	background-color: #6277B6;
}
.thirdorder{
	background-color: #45D0CD;
}
.otherorder{
	background-color: #eee;	
}
.thumb{
	margin-right: 15px;
	float: left;
	border:2px solid #fff;
	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
}
.thumb:hover{
	border:2px solid #BCB5E2;	
}
.userview a:hover { 
	color: #07695E;
	text-decoration: underline
}
.site_intro p{
	line-height: 28px
}
.site_link {
	margin-top: 20px
}

.site_list {
	padding-left: 10px;
	margin-top: 10px
}

.site_list li {
	list-style: none
}

.site_list a {
	font-size: 16px
}
.item_title{
	margin: 5px 0 5px;
	font-size: 16px;
}
.item_title i{
	margin-left: 10px;
	font-size: 13px;
}
.articletype{
	color: #333;
}
.urltype{
	color: #333;
	line-height: 1.8em;
	overflow: hidden;
	font: 14px/1.7 "微软雅黑",Verdana,Geneva,sans-serif;
	border: 0 solid #ccc!important;
	margin: 6px 0;
	border-radius: 0;
}
.articletype:hover,.urltype:hover{  
	color: #07695E;
	text-decoration: underline;
}

.pagination_container{
	width: 100%;
	background-color: #fff;
	margin-top: 1px;
	border-radius: 5px 5px 0px 0px;
}
.pagination li a, .pagination li span {
	background-color: #fafafa;
	color: #999;
	border-color: #e6e6e6;
}
.pagination li a:hover, 
.pagination li span:hover, 
.pagination li a:focus, 
.pagination li span:focus {
	color: #232F38;
	background-color: #eee;
	border-color: #ddd;
}
.a_loading{
	background: #fff;
	color: #C5C5C5;
}


.modal_regwrap{ 
	width: 500px;
	overflow: hidden;
}


.modal_regwrap .modal-content{ 
	border-radius: 0px;
}
.modal_regwrap input {
	border-radius: 4px;
	padding-left: 35px;
	border: 0;
	background-color: #e4e4e4;
}

.modal_regwrap .col-sm-10{
	width:100%;
}
.modal_regwrap .checkbox{
	float: left
}

.modal_regwrap .modal-footer{
	padding: 30px; 
	position:relative;
}
.modal_regwrap .modal-footer button{
	width:100%;
}
.modal_regwrap .wrap_col_sm{	
	padding-right: 15px;
	padding-left: 15px;
}

.modal_regwrap .switch-back{
	position: absolute;
	min-height: 20px; 
	padding: 0px 8px;
	top: -10px;
	left: 15px;
	background: #fff;
}
.modal_regwrap .switch-back2{
	position: absolute;
	min-height: 20px; 
	padding: 0px 8px;
	top: -10px;
	right: 15px;
	background: #fff;
}