.leftreg {
	float: left;
	width: 40%;
	margin-left: 150px
}

.rightreg {
	float: right;
	width: 35%;
	border-left: 2px solid #DAD5D5
}

.regpanel {
	margin-top: 35px;
	margin-left: 20px;
	margin-right: 20px;
	width: 700px;
	overflow: hidden
}

.rightpanelinfo {
	margin-left: 50px;
	height: 80px
}

.regpanel input {
	border-radius: 0;
	padding-left: 35px
}

.regpanel button {
	border-radius: 0
}

.accountbg {
	background: url(../images/y_accountbg.png) 10px 10px no-repeat
}

.emailbg {
	background: url(../images/y_emailbg.png) 10px 10px no-repeat
}

.pwdbg {
	background: url(../images/y_pwdbg.png) 10px 10px no-repeat
}

.alertsty {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
	padding: 15px;
	margin-bottom: 20px
}

.sucesssty {
	color: #8a6d3b;
	background-color: #A3D6AD;
	border-color: #faebcc;
	padding: 15px;
	margin-bottom: 20px
}