.navwrap a {
	color: #FFF
}

.appwrap { 
	transition: all 0.3s;
	-moz-transition: all 0.3s; /* Firefox 4 */
	-webkit-transition: all 0.3s; /* Safari 和 Chrome */
	-o-transition: all 0.3s; /* Opera */
	background-color: #FFF !important; 
	box-shadow: 0 0 32px rgba(0,0,0,.15);
}
.headon .appwrap{
	background-color: #FFF; 
	height: 35px;
	min-height: 35px !important;
	box-shadow: 0 0 32px rgba(0,0,0,.15);
}
.catawrap li a{
	font-size: 14px;
	transition: all 0.3s;
	-moz-transition: all 0.3s; /* Firefox 4 */
	-webkit-transition: all 0.3s; /* Safari 和 Chrome */
	-o-transition: all 0.3s; /* Opera */
	background-color: transparent !important;
}

.logo{
	transition: all 0.3s;
	-moz-transition: all 0.3s; /* Firefox 4 */
	-webkit-transition: all 0.3s; /* Safari 和 Chrome */
	-o-transition: all 0.3s; /* Opera */
	padding:10px 2px 10px 2px;
}
.headon .logo{
	padding:2px 2px !important;
}
.headon .catawrap li a{
	font-size: 14px;
	background-color: transparent !important;
	height: 35px;
	padding: 6px 15px;
} 
.headsearch .form-search {
	position: fixed;
	top: 50px !important; 
	margin: 0px;
	right: 288px;
	width: 270px;
	padding: 0px;
	transition: all 0.25s;
	-moz-transition: all 0.25s; /* Firefox 4 */
	-webkit-transition: all 0.25s; /* Safari 和 Chrome */
	-o-transition: all 0.25s; /* Opera */
}
.headon .headsearch .form-search {
	position: fixed;
	top: 34px !important; 
	margin: 0px;
	right: 288px;
	width: 270px;
	padding: 0px;
	transition: all 0.25s;
	-moz-transition: all 0.25s; /* Firefox 4 */
	-webkit-transition: all 0.25s; /* Safari 和 Chrome */
	-o-transition: all 0.25s; /* Opera */
}
.container{
	width:970px !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.logo{
	padding:10px 2px 10px 2px;
}
.catawrap a{
	color:#6D6D6D !important;
} 

.navul {
	margin-top: 0;
	margin-bottom: 0
}

.navul li {
	list-style: none
}

.navul a {
	padding: 5px 15px;
	height: 50px;
	float: left;
	line-height: 40px;
	font-size: 18px;
	display: block; 
	text-align: center;
	text-decoration: none;
	margin-left: 5px
}


.navul a:hover {
	background-color: #41B4A9;
	color: #fff
}
.navbar{
	border-radius: 0px;
	border-width: 0px;
}
.catawrap li a{
	font-size: 14px;
	background-color: transparent !important;
	height: 50px;
}
.catawrap li a:hover{  
	color: #000 !important;
}
.active a { 
	border-bottom: 3px solid #9EAAA9; 
}

.navul:after,.navul:before {
	clear: both
} 
.headsearch { 
	float: right; 
	height: 50px; 
	font-size: 14px;
	position: relative;
	color: #6D6D6D; 
} 
.headon .headsearch{
	height: 34px;
}
.headsearch .form-group{
	background-color: #FFF;
	padding: 10px;
	opacity: 0;
}
.headsearch .form-control { 
	padding:0px;
	border: 0px solid;
	border-radius: 0px; 
	box-sizing: border-box; 
	background-color: #fff;
	border-bottom: 1px solid #FFF;
}
.form-control:focus {
	box-shadow: inset 0 0px 0px #fff;  
}
.headsearch.active .form-group{ 
	opacity: 1;
	background-color: #9EAAA9;
}
.headsearch.active .form-control { 
	width: 250px; 
	border-radius: 3px;
	padding: 0px 10px;  
}

.headsearch .search-btn-wrap{
	width: 32px;	
	height: 50px; 
}
.headon .headsearch .search-btn-wrap{
	height: 35px;
}
.headon .headsearch i{
	line-height:35px;
}
.headsearch.active .search-btn-wrap{ 
	background-color: #9EAAA9; 
}
.headsearch .search-btn-wrap:hover{  
	color: #000 !important;
}
.headsearch .btn-close{
	position: absolute;
	line-height: 50px;
	right: 0px;
	width: 32px;
	padding: 0px 10px;
	cursor: pointer;
	-webkit-transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	transform: scale(0, 0);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

.headsearch.active .btn-close { 
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	transform: scale(1, 1);
}
.headsearch.active .fa-search { 
	-webkit-transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	transform: scale(0, 0);
} 
.headsearch .fa-search {
	cursor: pointer;
	position: absolute;
	line-height: 50px;
	padding: 0px 10px;
	right: 0;
	transition: all .3s;
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	transform: scale(1, 1);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
} 
.account_opt {
	float: right; 
}

.account_opt ul {
	min-width: 50px;
	left: -15px;
	border-radius: 0;
	margin: -1px 0 0;
	text-align: center
}

.account_opt a {
	display: block;
	color: #fff;
	width: 100%;
	line-height: 50px
}

.account_opt li {
	list-style: none
}

.account_opt a:hover {
	text-decoration: none;
	color: #D1D1D1
}
#optionaccesslist{ 
	background-color: #fff;
	padding: 0px;
}
#optionaccesslist li a {
	position: relative;
	background: #fff;
	display: block;
	padding: 0px 20px;
	height: 34px;
	clear: both;
	font-weight: 400;
	line-height: 34px;
	color: #6D6D6D;
	white-space: nowrap;
}

#optionaccesslist li a i{
	display: block;
    position: absolute;
    left: 15px;
    top: 9px;
    width: 16px;
    height: 16px;
}
#optionaccesslist li a:hover{
	background-color: #9EAAA9;
	color: #fff;
} 
.reg_login {
	float: right;  
} 
.un_reg_login{
	float: right;
}
.reg_login .optionaccess{
	height: 50px;
	width: 100px;
	display: block; 
	float: right;	  
	color: #6D6D6D !important;
	font-size: 14px; 
	padding: 15px 8px;
	text-align: center;
	color: #fff;   
	-webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.reg_login .open a.optionaccess{
	background-color: #fff !important;
}
.un_reg_login .optionaccess{
	display: block;
	color:#6D6D6D !important;
	font-size: 14px; 
	padding: 15px 8px;
	height: 50px;
	width: 60px;
	text-align: center;
	float: right;	
	transition: all 0.3s;
	-moz-transition: all 0.3s; /* Firefox 4 */
	-webkit-transition: all 0.3s; /* Safari 和 Chrome */
	-o-transition: all 0.3s; /* Opera */
}
a.optionaccess:hover {
	text-decoration: none; 
	color: #000 !important;
}
.reg_login li {
	list-style: none;
}  
.un_reg_login li {
	list-style: none;
}  
.reg_login ul {
	min-width: 100px;
	width: 133px;
	left: -15px;
	background-color: #9EAAA9;
	padding: 0px;
	border-radius: 0;
	margin: -1px 0 0;
	border: 0px;
	text-align: center;
}
.reg_login .divider{
	height: 1px;
	overflow: hidden;
	background-color: #9EAAA9;
}
.headon .optionaccess{
	height: 34px;
	font-size: 14px; 
	padding: 6px 8px;
} 
.headon .reg_login .optionaccess {
	display: block; 
	height: 35px;
	float: right;
	color: #6D6D6D !important;
	background-color: #fff !important; 
	line-height: 20px;
	padding-top: 8px;
	padding-bottom: 0px;
}
.headon .un_reg_login .optionaccess {
	display: block; 
	float: right;
	color: #6D6D6D !important;
	background-color: #FFF !important; 
	line-height: 20px;
	padding-top: 8px;
	padding-bottom: 0px;
}

.hasmsg{
	position: absolute;
 	top: 13px;
    right: 8px;
    background: #FF9F83;
    border-radius: 33px;
    padding: 2px 2px;
    width: 7px;
    height: 7px;
    display: inline-block;    
	transition: all 0.3s;
	-moz-transition: all 0.3s; /* Firefox 4 */
	-webkit-transition: all 0.3s; /* Safari 和 Chrome */
	-o-transition: all 0.3s; /* Opera */
}
.headon .hasmsg{
 	top: 7px;

}
.msgnum{
	display: inline-block;
    margin-left: 4px;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #FF9F83;
    border-radius: 10px;
}