.srimgstyle {
	margin: 0 auto;
	text-align: center
}
.rep_msg_box {
	background-color: #fff; 
	border-bottom: 1px solid #eee;
}
.nosignin{
	text-align: center; 
	background-color: #fff;
	padding-top: 25px;
	font-size: 15px;
	padding-bottom: 25px;
}
.leftwrap .replywritepanel{
	margin: 0 auto;
	overflow: hidden;
	padding: 15px 0px;
	background-color: #fff;
}
.reply_msg_item {
	border-top: 1px solid #E0E0E0;
	padding: 15px 20px 15px 20px;
	overflow: hidden;
}

.reply_user_photo {
	float: left;
	width: 48px;
	height: 48px;
	overflow: hidden
}

.reply_user_photo img {
	width: 48px;
	height: 48px;
	border-radius: 25px;
	border: 2px solid #fff;
	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out
}

.reply_user_photo .userlink:hover img {
	border: 2px solid #D5C8DB
}

.reply_content_info {
	margin-left: 55px
}

.reply_info span {
	color: #999
} 
.article_head_info{
	padding:5px 0px;
}
.article_head_info a{	
	font:15px/1.5 "微软雅黑",Verdana,Geneva,sans-serif;
	color: #838383;
}

.detail_content{
	padding: 15px 20px;
	padding-top: 10px;
}
.reply_user_name a{
	font-size: 12px;
	color: #838383;	
}
.article_head_info span:before {
	content: "•";
}
.article_head_info span{ 
	font:15px/1.5 "微软雅黑",Verdana,Geneva,sans-serif;
	color: #838383;
}
.reply_date:before {
	content: "•";
}
.reply_date{ 
	font-size: 12px;
	color: #838383;
}
.reply_content a{
	color: #645A5A;
}
.reply_info .opt {
	float: right
}
.replyat{
	color: #999;
}
.articleitem_detail{
	background-color: #FFF;
	margin-top: 51px;
	padding-bottom: 30px;
	border-bottom: 1px solid #eee;
}
.msg_content_detail {
	color: #333;
	line-height: 1.8em;
	overflow: hidden;
	font: 15px/1.5 "微软雅黑",Verdana,Geneva,sans-serif;
	border: 0 solid #ccc!important;
	margin: 6px 0;
	padding-bottom: 10px;
	border-radius: 0;
}
.share {
	text-align: center;
	position: relative;
	overflow: visible;
}
.other-article-info{
	padding:0px 20px;
}
.other-article-info .articlelabel{
	float:left;
}
.operator{
	float:right;
}
.operator a {
	color:#999999;
	cursor: pointer;
	margin-left: 10px;
}  
.arrow-top::before, .arrow-top::after {
	position: absolute;
	top: -10px;
	left: 35%;
	content: '';
	display: inline-block;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 9px solid #d9d9d9;
}
.share .dropdown-menu img {
	width: 16px;
	height: 16px;
	margin-top: -4px;
	margin-right: 5px;
}
.share .dropdown-menu{
	min-width: 100px;
	right: -28px;
	top: 25px;
	left: auto;
}
.share .dropdown-menu li a {
	display: block;
	padding: 3px 10px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}
.detail_msg_head{
	font-size: 19px;
	color: #383838;
	border-left: 4px solid #00a090;
	padding: 8px 10px;
	line-height: 19px;
	height: 38px;
}
.no_reply_notice{
	padding: 20px 0px;
    text-align: center;
    font-size: 15px;
    color: #A4A4A4;
}
.nosignin a{
	background-color: #00a090;
	color: #fff;
	padding: 4px 12px;
	border-radius: 3px;
	font-size: 15px; 
	color: #fff;  
}
.nosignin a:hover{
	background-color: #039082;
	color: #fff; 
} 
.opt a {
	color: #5C5A5A
}

.reply_info .replyat:hover img {
	border: 2px solid #D5C8DB
}
.detail_content img{
	width: 80%;
	display: block;
	margin: 0 auto;
}

#replywrap{
	position:relative;
}
#reply_input,.atreply{
	width: 100%;
	height: 30px;
	border-radius: 4px;
	padding: 4px 40px 4px 4px;
}
#repstr{
	width: 100%;
	margin-right: 0px;
	position:relative;
}
.inputopt {
  	display:none; 
	position: absolute;
	right: 20px;
	bottom: 8px;
}
.inputopt button{
	padding:0px;
	background-color: transparent;
	color:gray;
	border:0px;

}

.meiriyiju {
	margin: 0 auto;
	overflow: hidden;
	padding: 0 20px;
	color: #606060;
	background: #fff;
	height: 100px;
	padding: 5px;
	border-radius: 0px 0px 5px 5px;
}

.onesentence {
	margin: 0px 40px 10px;;
}

.onesentence p {
	font-size: 16px;
	text-indent: 2em;
	line-height: 26px;
}

.statistics {
	text-align: right;
	margin: 0px 40px 0
}

.statistics p {
	font-size: 16px
}

.writepanel {
	margin: 0 auto;
	overflow: hidden;
	padding: 20px 20px;
	background-color: #fff;
}

.writebox {
	width: 100%;
	/*width: 605px;*/
	height: 64px
}

.textarea {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
    outline: none;
    height: 250px;
  }

.articleitem {  
	padding: 10px 20px;
	background-color: #FFF;
	margin-top: 1px;
	border-radius: 5px;
}
.articleitem-first {
	padding: 10px 20px;
	background-color: #FFF;
	margin-top: 1px;
	border-radius: 0px 0px 5px 5px;
}
/*
	box-shadow: 2px 0 5px rgba(214, 214, 215, 0.9), -2px 0 5px rgba(214, 214, 215, 0.9);*/
.photowrap {
	float: left;
	width: 48px;
	height: 48px;
	position: relative;
	overflow: hidden; 
}

.photowrap img {
	width: 48px;
	height: 48px;
	border-radius: 24px;
	border: 2px solid #fff; 
	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out
}

.photowrap .userlink:hover img {
	border: 2px solid #07695F;
}
.photowrap .userlink{
	width: 48px;
	height: 48px;
	display: block;
}

.msg_content {
	color: #333;
	line-height: 1.8em;
	overflow: hidden;
	font:14px/1.5 "微软雅黑", Verdana, Geneva, sans-serif;
	border: 0 solid #ccc!important;
	margin: 6px 0px 6px 0px;
	border-radius: 0;
}

.shuo_sty {
	font-size: 14px;
	color: #777;
	margin-top: 10px
}
.shuo_sty:before{
	content: "•";
}
.title{
	color: #07695F;
	text-decoration: none;
}
.title:hover{
	color:#777 ;
	text-decoration: none;
}
.sitetext{ 
	color: #777;
	padding: 1px 5px;
	background-color: #f5f5f5;
}
.sitetext:hover{
	color:#07695F ;
	text-decoration: none;
}
.sitepic{
	width:20px;
	height: 20px;
}
.otherinfowrap {
	font-size: 14px;
	color: #777;
	margin-top: 12px;
}
.articledate{
	display: inline-block;
	float: left;
}
.articlelabel{
	display: inline-block;
	float: left;
	margin-left: 15px;
}

.label-item a {
	display: inline-block;
	text-decoration: none;
	font-weight: normal;
	font-size: 10px;
	color: #fff;
	height: 18px;
	line-height: 18px;
	float: left;
	padding: 0 5px 0px 10px;
	position: relative;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	margin: 0px 7px 0px 8px
	font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
}
.label-item a:before {
	content: " ";
	width: 0px;
	height: 0px;
	position: absolute;
	top: 0;
	left: -18px;
	border: 9px solid transparent;
}
.label-item a:after {
	content: " ";
	width: 4px;
	height: 4px;
	background-color: #fff;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);
	position: absolute;
	top: 7px;
	left: 2px;
}
.label-item{
	list-style: none;
	float:left;
}
.label-item a.color1 {
  background: #ff945c;
}
.label-item a.color1:before {
  border-right-color: #ff945c;
}
.label-item a.color2 {
  background: #f5c7b7;
}
.label-item a.color2:before {
  border-right-color: #f5c7b7;
}
.label-item a.color3 {
  background: #ba8f6c;
}
.label-item a.color3:before {
  border-right-color: #ba8f6c;
}
.label-item a.color4 {
  background: #cfb7c4;
}
.label-item a.color4:before {
  border-right-color: #cfb7c4;
}
.label-item a.color5 {
  background: #7b5d5f;
}
.label-item a.color5:before {
  border-right-color: #7b5d5f;
}
.label-item a:hover {
	opacity: 0.8;
}
.leftwrap i{
	margin-right: 5px;
}
.operwrap{
	float: right;
	opacity: 0.5;
	border-bottom: 1px dashed #878787;
}
.biaotai {
	float: right;
	opacity: 0.5;
}

.operwrap a {
	color: #777;
	display: inline-block; 
	padding: 2px 5px 2px 5px; 
}
.operwrap i{
	margin-left: 5px;
}
.biaotai .likebtn{
	color: #FFF;
	display: inline-block;
	background-color: #6AE1A9;
	padding: 2px 5px 2px 5px;
	border-radius: 5px;
	cursor: hand;
}

.biaotai .unlikebtn{
	color: #FFF;
	display: inline-block;
	background-color: #444;
	padding: 2px 5px 2px 5px;
	border-radius: 5px;
	cursor: hand;
}

.operwrap a:hover {
	cursor: pointer
}

.loginwrap {
	width: 100%;
	height: 160px;
	margin-top: 20px;
} 
.form-horizontal .form-group{
	margin-left: 0px;
	margin-right: 0px;
}

.loginwrap input {
	border-radius: 4px;
	padding-left: 35px;
	border: 0px;
	background-color: #e4e4e4;
}

.page_header_info {
	font-size: 20px; 
	width: 100%;  
	color: #555; 
}

.userfresh {
	margin-top: 20px
}

.userfresh img {
	width: 45px;
	height: 45px;
	display: block;
	margin: 0 auto
}


.sidetitle {
	font-size: 18px; 
	height: 33px;
	border-bottom: 2px solid #DCDDD9;
}
.sidetitle .titletext{
	border-bottom: 2px solid #00a090;
	padding: 5px 3px;
	position: relative;
	height: 33px;
	margin-bottom: -2px;
	display: inline-block;
}
.userlist {
	margin-top: 5px
}
.downloadapp{
	margin-top: 20px;
}
.fansuserlink{
	width: 100%;
	height: 40px;
	display: block;
}
.fansuserlink:hover{
	background-color: #F0F0F0;
}
.userview {
	height: 40px;
	width: 100%;
	padding: 5px;
	line-height: 18px;
	float: left;
	text-align: center;
	font-size: 12px;
	border-bottom: 1px solid #eee;
} 
.userview .imagewrap{
	width: 30px;
	height: 30px;
	display: block;
	margin: 0 auto;
	border-radius: 30px;
	display: inline-block;
	float: left;
}
.userview .namewrap{
	display: inline-block;
	float: left;
	height: 30px;
	margin-left: 20px;
	line-height: 30px;
}
.userview img{
	width: 30px;
	height: 30px;
	display: block;
	margin: 0 auto;
	border-radius: 30px;
}
.userview .ordernum{
	display: inline-block;
	padding: 0 3px;
	height: 20px;
	float: right;
	width: 20px;
	color: #FFF;
	line-height: 20px;
	font-size: 15px;
	border-radius: 15px;
}
.firstorder{
	background-color: #F39360;
}
.secondorder{
	background-color: #6277B6;
}
.thirdorder{
	background-color: #45D0CD;
}
.otherorder{
	background-color: #eee;	
}
.thumb{
	margin-right: 5px;
	float: left;
	border:2px solid #fff;
	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
}
.thumb:hover{
	border:2px solid #BCB5E2;	
}
.userview a:hover { 
	color: #07695E;
	text-decoration: underline
}
.site_intro p{
	line-height: 28px
}
.site_link {
	margin-top: 20px
}

.site_list {
	padding-left: 10px;
	margin-top: 10px
}

.site_list li {
	list-style: none
}

.site_list a {
	font-size: 16px
}
.item_title{
	margin: 5px 0 5px;
	font-size: 16px;
}
.item_title i{
	margin-left: 10px;
	font-size: 13px;
}
.item_title a{
	color: #333;
}
.item_title a:hover{  
	color: #07695E;
	text-decoration: underline;
}

.pagination_container{
	width: 100%;
	background-color: #fff;
	margin-top: 1px;
	border-radius: 5px 5px 0px 0px;
}
.pagination li a, .pagination li span {
	background-color: #fafafa;
	color: #999;
	border-color: #e6e6e6;
}
.pagination li a:hover, 
.pagination li span:hover, 
.pagination li a:focus, 
.pagination li span:focus {
	color: #232F38;
	background-color: #eee;
	border-color: #ddd;
}
.a_loading{
	background: #fff;
	color: #C5C5C5;
}
.leftreg {
	float: left;
	width: 65%;
}

.rightreg {
	float: right;
	width: 35%;
	border-left: 1px solid #DAD5D5;
}

.regpanel {
	margin-top: 35px;
	margin-left: 20px;
	margin-right: 20px;
	width: 700px;
	overflow: hidden
}
.reglogin_head_info{ 
	color: #383838;
	border-left: 4px solid #00a090;
	border-bottom: 1px dashed #E0E0E0;
	font-size: 20px;
}
.reglogin_formwrap{
	float: right;
	width: 75%;
}
.reglogin_mainwrap{  
	border-radius: 3px;
	background: #fff;  
	margin: 10px auto 0;
	margin-top: 70px;
}
.rightpanelinfo {
	margin-left: 50px;
	height: 80px
}

.regpanel input {
	border-radius: 4px;
	padding-left: 35px;
	border: 0px;
	background-color: #e4e4e4;
}

.regpanel button {
	border-radius: 0
}
 

.leftreg button{
	width: 100%;
	background-color: #598DC5;
	height: 40px;
	color: #fff;
	font-size: 15px;
	border: 1px solid #eee;
}
.leftreg button:active,.leftreg button:focus,.leftreg button:hover{ 
	background-color: #3D72AC; 
}
.accountbg {
	background: url(../images/y_accountbg.png) 10px 10px no-repeat
}

.emailbg {
	background: url(../images/y_emailbg.png) 10px 10px no-repeat
}

.pwdbg {
	background: url(../images/y_pwdbg.png) 10px 10px no-repeat
}

.alertsty {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
	padding: 15px;
	margin-bottom: 20px
}

.sucesssty {
	color: #8a6d3b;
	background-color: #A3D6AD;
	border-color: #faebcc;
	padding: 15px;
	margin-bottom: 20px
}
.rightreg a{
	color:#07695F;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.rightreg a:hover{
	color:#303e48;
	text-decoration: underline;
}
/*.head_text {
	font-size: 20px;
	border-bottom: 2px solid #f3f3f3;
	padding: 0 0 7px;
	margin-bottom: 10px;
	color: #555
}*/
.msgwrap{
	background-color: #fff;
	padding: 10px 20px 40px 20px;
	min-height: 600px;
}
.msgitem {
	padding: 10px;
	padding-top: 10px;
	border-bottom: 1px solid #F1F1F1;
	margin-left: 30px
}
.msgitem:hover{
	background-color: #F8F8F8;
}
.navwrap a {
	color: #FFF
}

.appwrap { 
	background-color: #00a090; 
}
.container{
	width:70% !important;
	padding-right: 15px !important;
	padding-left: 15px !important;
}
.logo{
	padding:10px 2px 10px 2px;
}
.catawrap a{
	color:#fff !important;
}
 

.navul {
	margin-top: 0;
	margin-bottom: 0
}

.navul li {
	list-style: none
}

.navul a {
	padding: 5px 15px;
	height: 50px;
	float: left;
	line-height: 40px;
	font-size: 18px;
	display: block; 
	text-align: center;
	text-decoration: none;
	margin-left: 5px
}


.navul a:hover {
	background-color: #41B4A9;
	color: #fff
}
.navbar{
	border-radius: 0px;
}
.catawrap li a{
	font-size: 14px;
	background:#00a090 !important;
}
.active a { 
	border-bottom: 3px solid #FFFFFF; 
}

.navul:after,.navul:before {
	clear: both
} 
.headsearch { 
	float: right; 
	margin-right: 15px;
}
.headsearch .form-search {
	font-size: 14px;
	position: relative;
	color:#fff;
	margin-right: 10px;
}
.headsearch .navbar-form .form-control { 
	padding:0px;
	border: 0px solid;
	border-radius: 0px;
	transition: all .3s;
	box-sizing: border-box;
	width:0px;
	background-color: #00a090;
	border-bottom: 1px solid #FFF;
}
.form-control:focus {
	box-shadow: inset 0 0px 0px #fff;  
}
.headsearch .navbar-form.active .form-control {
		width: 150px !important;
		padding-left: 8px;
		cursor: text;
		border-bottom: 1px solid #FFF;
}

.headsearch .navbar-form .btn-close{
	position: absolute;
	top: 10px;
	right: 0px;
	cursor: pointer;
	-webkit-transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	transform: scale(0, 0);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

.headsearch .navbar-form.active .btn-close {
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	transform: scale(1, 1);
}
.headsearch .navbar-form.active .fa-search {
	left: 0;
	right: auto;
} 
.headsearch .navbar-form .fa-search {
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 0;
	transition: all .3s;
}
.account_opt {
	float: right; 
}

.account_opt ul {
	min-width: 50px;
	left: -15px;
	border-radius: 0;
	margin: -1px 0 0;
	text-align: center
}

.account_opt a {
	display: block;
	color: #fff;
	width: 100%;
	line-height: 50px
}

.account_opt li {
	list-style: none
}

.account_opt a:hover {
	text-decoration: none;
	color: #D1D1D1
}

.dropdown-menu a {
	background: #fff;
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}
.reg_login {
	float: right;  
}

.reg_login ul {
	min-width: 50px
}
.optionaccess{
	display: block;
	color:#fff !important;
	font-size: 14px;
	margin-right: 10px; 
	line-height: 55px;
	float: right;
}

.reg_login .dropdown-toggle {
	display: block; 
	float: right;
	color: #fff !important;
	background-color: #00a090 !important; 
	padding-top: 17px;
	padding-bottom: 15px;
}

.reg_login li {
	list-style: none;
}

.reg_login a:hover {
	text-decoration: none;
	color: #D1D1D1
}
.reg_login ul {
	min-width: 50px;
	left: -15px;
	border-radius: 0;
	margin: -1px 0 0;
	text-align: center;
}
.account_panel{
	width: 100%;
	height: 100%;
	background-color:#fff;
	margin: 0px auto;  
	overflow: hidden;
}
.set-header{
	background-color: #E9E7E7;
	padding: 25px 10px 0px 10px;
}
.set-header .curset:hover{
	background-color: #f5f5f5;	
}
.set-header a:hover {
	background-color: #E9E7E7;
}
.setpanel {
	padding: 40px 20px;
	min-height: 400px;
}
 
.baseinfo form{
	width:45%;
} 
.accountinfo form{
	width:45%;
}
 

.settab { 
	font-size: 16px;
	line-height: 16px;
	height: 30px;
}

.settab li {
	display: block;
	float: left;
	height: 30px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

.settab a {
	color: #00a090;
	font-size: 16px;
	height: 30px; 
	float:left;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 0px;
	padding-top: 7px;
}

.curset {
	color: #00a090!important;
	background-color: #fff;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 0px;
	padding-top: 7px;
	border-radius: 2px 2px 0px 0px; 
}

.wholeimg {
	float: left
}

.previewimg {
	float: left;
	margin-left: 30px
}

.imgwrap {
	overflow: hidden
}

.crop_preview {
	position: absolute;
	width: 64px;
	height: 64px;
	overflow: hidden
}

.substy {
	margin-top: 10px;
	float: left
}
.tagswrap{
	margin-top: 20px;
}
.tagname{
	padding: 5px 0px;
	font-size: 18px;
}
.tagcount{
	font-size: 15px;
	padding: 5px 0px;
	color: #707070;
}
.intropre {
	padding: 12px; 
	border: 1px dashed #AABBDD;
	border-radius: 0;
	background-color: #f5f5f5;
	padding:10px;
}
.baseinfo p{
	margin: 5px 0 10px;
}
.followme,.hefollow {
	overflow: hidden;
	margin-top: 5px; 
}
.followlist_wrap{
	overflow: hidden;
	margin-top: 10px;
	padding: 30px 10px 10px 30px;	
}
.follower a:hover{ 
	color: #07695E;
	text-decoration: underline;
}
}
.follower p {
	font-size: 20px;
	line-height: 1em;
	border-bottom: 1px dashed #ccc
}

.follower img {
	width: 45px;
	height: 45px;
	display: block;
	margin: 0 auto
}

.perfollower {
	height: 65px;
	width: 68px;
	overflow: hidden;
	line-height: 18px;
	float: left;
	text-align: center;
	font-size: 12px
}
.follower_title{
	 font-size: 18px; 
	 margin-top: 15px; 
	 height: 33px;
	 border-bottom: 2px solid #DCDDD9; 
} 

.follower_title .followernum{
	border-bottom: 2px solid #00a090;
	padding: 5px 3px;
	position: relative;
	height: 33px;
	margin-bottom: -2px;
	display: inline-block;
	color: #555;
} 
.fansuserlink{
	width: 100%;
	height: 40px;
	display: block;
}
.fansuserlink:hover{
	background-color: #F0F0F0;
}
.followerwrap{
	height: 40px;
	width: 100%;
	padding: 5px 5px; 
	line-height: 18px;
	float: left;
	text-align: center;
	font-size: 12px;
	border-bottom: 1px solid #eee;
}
.followerwrap .imagewrap{
	width: 30px;
	height: 30px;
	display: block;
	margin: 0 auto;
	border-radius: 30px;
	display: inline-block;
	float: left;
}
.followerwrap .namewrap{
	display: inline-block;
	float: left;
	height: 30px;
	margin-left: 20px;
	line-height: 30px;
}
.followerwrap img{
	width: 30px;
	height: 30px;
	display: block;
	margin: 0 auto;
	border-radius: 30px;
}
.more_follower{
	color:#747C81;
	float: right;
	font-size: 16px;
	height: 25px;
	line-height: 40px;
}

.site_intro{
	margin-top: 20px;
}
.site_list a{	
	transition:all 0.5s;
	line-height: 25px; 
} 
.site_list a:hover{
	background: #fff;
	color: #07695E; 
	margin-left: 20px;
} 
.pubone{
	padding-bottom: 30px;
}
.pubone a{
	position: relative;
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 60px;
	background-color: #00a090;
	font-size: 31px;
	line-height: 60px;
	color: #FFF;
	text-align: center; 
	-webkit-transition: color .3s;
	-moz-transition: color .3s;
	transition: color .3s;
}
.downloadapp a{
	position: relative;
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 60px;
	background-color: #4a7aaa;
	font-size: 31px;
	line-height: 60px;
	color: #FFF;
	text-align: center; 
	-webkit-transition: color .3s;
	-moz-transition: color .3s;
	transition: color .3s;
}
.downloadapp a:hover{
	background-color: rgba(128, 144, 160, 1);
	color: #fff;
	text-decoration: none;
}
.pubone a::before {
	position: absolute;
	top: 40%;
	left: 50%;
	color: transparent;
	content: '•';
	text-shadow: 0 0 transparent;
	font-size: 1.2em;
	-webkit-transition: text-shadow 0.3s, color 0.3s;
	-moz-transition: text-shadow 0.3s, color 0.3s;
	transition: text-shadow 0.3s, color 0.3s;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	pointer-events: none;
}

.pubone a:hover::before,
.pubone a:focus::before {
	color: #fff;
	text-shadow: 15px 0 #fff, -15px 0 #fff;
}

.pubone a:hover,
.pubone a:focus {
	color: #FFF;
}
.everyday{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 133px;
	border-radius: 5px;
	-webkit-user-select: none;
} 
.everyday:hover .everyday_img{
	-webkit-transition: all .8s;
	-moz-transition: all .8s;
	transition: all .8s;
	opacity: 0.6;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}   
.everyday:hover .everyday_text_cn{
	-webkit-transition: all .8s;
	-moz-transition: all .8s;
	transition: all .8s;
   	visibility: hidden;
	-webkit-transform:  translateX(-100%) ;
}
.everyday:hover .everyday_text_en{
	-webkit-transition: all .8s;
	-moz-transition: all .8s;
	transition: all .8s;
   visibility: visible;
  -webkit-transform:  translateX(0) ;
}
.everyday_text{
	position: absolute;
	width: 100%; 
	vertical-align:middle;
	z-index: 33;

}
.everyday_text_cn, .everyday_text_en{
	position: absolute;
	top: 0px;
	color: #637EAD;
	font-size: 15px;
	line-height: 27px;
	margin: 10px
}
.everyday_text_en{	
  -webkit-transform:  translateX(-100%) ;
  -webkit-transition: all 0.5s ease-in-out;
  visibility: hidden;
} 
.everyday_text_cn{	
  -webkit-transform:  translateX(0px) ;
  -webkit-transition: all 0.5s ease-in-out;
  margin-top: 25px;
  visibility: visible;
} 
#gotopbtn {
	position: fixed;
	text-align: center;
	line-height: 30px;
	bottom: 0px;
	width: 35px;
	height: 35px;
	margin-right: 120px;
	font-size: 12px;
	cursor: pointer;
	right: 0;
	-webkit-transition: all linear .2s;
	-moz-transition: all linear .2s;
	-ms-transition: all linear .2s;
	-o-transition: all linear .2s;
	transition: all linear .2s;
}

.yjfk {
	position: fixed;
	top: 150px;
	right: 0;
	width: 26px;
	height: 90px
}

.yjfk a {
	display: block;
	background: url(/images/fk.gif) no-repeat;
	width: 26px;
	height: 90px;
	overflow: hidden
}

.yjfk a:hover {
	background-position: 0 -90px
}
.titlewrap{
	margin-top: 15px;
	margin-bottom: 20px;
}
}
#add_label, #add_title{
	color: #808080;
}
#add_label:hover,#add_title:hover{
	color: #808080;
	background-color: #fff;
}
.webuploader-element-invisible {
	position: absolute!important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px,1px,1px,1px);
}
.uploadname{
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #00b7ee;
	padding: 10px 15px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
}
.uploadwrap{
	position: absolute;
	overflow: hidden;
	bottom: auto;
	right: auto;
	width: 86px;
	height: 40px;
	top: 0px;
	left: 0px;
}
#pubstr{
	width: 100%;
}
#pub_link_brief{
	width:100%;
}

.btninner {
	width: 124px;
	overflow: hidden;
	position:relative;
	margin: 0 auto;
}
.choose-btn{
	display:inline-block;
	width: 126px; 
	color: #fff; 
	height: 40px; 
	border: 0;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	background-color: #5993E2;
}
.btninner:hover .choose-btn{
	color:#ccc;
	background-color: #568DEF;
}
.btninner input {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	font-size: 100px;
	height: 40px;
	opacity: 0;
	filter: alpha(opacity=0);
	overflow: hidden;
} 
.writepanel{
	min-height: 500px;
}
.writepanel form{
	margin-right: 0px !important;
}
.writepanel button{
	width:100px;
}
.share_model{
	font-size: 16px;
	line-height: 16px;
	height: 30px;
	border-bottom: 1px solid #07695F;
}
.share_tab_active{
	font-size: 16px;
	height: 30px;
	float: left;
	padding: 7px 12px 0;
	cursor: pointer;
	border: 1px solid #07695F;
	border-bottom: 1px solid #fff;
}
.share_model li {
	display: block;
	float: left;
	height: 30px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}
.share_model li a{
	font-size: 16px;
	height: 30px;
	float: left;
	padding: 7px 12px 0;
	cursor:pointer;
}
#link_input{	 
	margin-bottom: 15px;
}
.sublink_wrap{
	float:right;
	margin-top: 30px;
}
.subarticle_wrap{
	float:right;
	margin-top: 30px;
}
#url{
	width:50%;
	display:inline;
	float:left;
}
#searchtitle{
	margin-left: 14px;
	width: 100px;
}
#tab_link{
	margin-top: 23px;
}
#tab_share{
	margin-top: 15px;
}
.tab_on{
	display:block;
}
.tab_off{
	display:none;
}
.loading{
    display: none;
}
a.followfri:hover{
	color: #fff;
} 
a.unfollowfri:hover{
	color: #fff;
} 

.articleitem .reply{
	display: inline-block;
	float: right;
}
.fade_trans{
     -webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both
}
.more_article{
	float: right;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #fff;
	text-align: center;
	cursor: pointer;
	border-bottom: #eee 1px solid;
}
.more_article:hover{
	color:#07695E;
	background-color: #F8F8F8;
}
.get_more{
	margin-top: 10px;
	display: block;
}
.get_more{
	color: #808080;
}
.get_more:hover{
	color: #808080 !important;	
}
.navigator{	
	width: 100%;
	height: 32px;
	margin-top: 10px;
	display: block;
}
.next_page{
	float: right;
	width: 120px;
	height: 32px;
	line-height: 32px; 
	color: #868686; 
	background-color: #fff;
	text-align: center;
	border-radius: 16px;
	border: 2px solid #868686;
	cursor: pointer;
} 
.next_page:hover{
	color: #07695E;
	border: 2px solid #07695E;
}
.last_page{
	float: left;
	width: 120px;
	height: 32px;
	line-height: 32px; 
	color: #868686; 
	background-color: #fff;
	text-align: center;
	border-radius: 16px;
	border: 2px solid #868686;
}
.last_page:hover{
	color: #07695E; 
	border: 2px solid #07695E;
}
.page_numwrap{
	height: 32px; 
	margin: 0 160px;
}
.page_num{
	border-radius: 16px;
	line-height: 30px;
	font-size: 18px;
	height: 32px;
	display: block;
	color: #A09999;
	width: 50px;
	margin: 0 auto;
	text-align: center;
	border: 2px solid #A09999;
}
.user_near_article{
	overflow: hidden;
}
.user_near_article .articleitem{p
	margin-top: 1px;
	border-radius: 5px;
}

.perfollower img {
	vertical-align: middle;
	height: 45px;
	display: block;
	width: 45px;
	margin: 0 auto; 
}
.shijianpanel{
	padding-top: 20px; 
	padding-bottom: 20px;
	padding-left: 50px;
	width: 100%; 
}
.point{
	width: 55px;
	height: 55px;
	position: absolute;
	top: 0;
	left: 160px;
	background: url(./point.png) no-repeat 0px 18px; 
	overflow: hidden;
}
.point b {
	height: 16px;
	width: 16px;
	background: #fff;
	display: block;
	margin: 17px 0 0 19px;
	border-radius: 18px;
	border: 2px solid #6bc30d; 
	position: absolute;
	top: 0;
	left: 0;
} 
.through li{
	height: 110px;
	vertical-align: bottom;
	overflow: hidden;
	position: relative;
}
#timewrap{  
	overflow: hidden;
	margin: 0 auto;
	background: url(../images/linebg.gif)  repeat-y 187px 0; 
	padding-top: 60px;
}
.linewrap .date{
	position: absolute;
	top: 0;
	left: 0px;
	height: 55px;
	width: 150px;
	line-height: 55px;
	text-align: right;
}
.linewrap .detail {
	position: absolute;
	top: 0;
	left: 215px;
	height: 55px;
	width: 400px; 
	text-align: left;
}
.followlist_wrap img{
	
}
.followlist_wrap .perfollower {
	height: 85px;
	width: 88px;
	overflow: hidden;
	line-height: 18px;
	float: left;
	text-align: center;
	font-size: 12px;
}