.shijianpanel{
	padding-top: 20px; 
	padding-bottom: 20px;
	padding-left: 50px;
	width: 100%; 
}
.point{
	width: 55px;
	height: 55px;
	position: absolute;
	top: 0;
	left: 160px;
	background: url(./point.png) no-repeat 0px 18px; 
	overflow: hidden;
}
.point b {
	height: 16px;
	width: 16px;
	background: #fff;
	display: block;
	margin: 17px 0 0 19px;
	border-radius: 18px;
	border: 2px solid #6bc30d; 
	position: absolute;
	top: 0;
	left: 0;
} 
.through li{
	height: 110px;
	vertical-align: bottom;
	overflow: hidden;
	position: relative;
}
#timewrap{  
	overflow: hidden;
	margin: 0 auto;
	background: url(../images/linebg.gif)  repeat-y 187px 0; 
	padding-top: 60px;
}
.linewrap .date{
	position: absolute;
	top: 0;
	left: 0px;
	height: 55px;
	width: 150px;
	line-height: 55px;
	text-align: right;
}
.linewrap .detail {
	position: absolute;
	top: 0;
	left: 215px;
	height: 55px;
	width: 400px; 
	text-align: left;
}