.tagswrap{
	margin-top: 20px;
}
.tagname{
	padding: 5px 0px;
	font-size: 18px;
}
.tagcount{
	font-size: 15px;
	padding: 5px 0px;
	color: #707070;
}
.intropre {
	padding: 12px; 
	border: 1px dashed #AABBDD;
	border-radius: 0;
	background-color: #f5f5f5;
	padding:10px;
}
.baseinfo p{
	margin: 5px 0 10px;
}
.followme,.hefollow {
	overflow: hidden;
	margin-top: 5px; 
}
.followlist_wrap{
	overflow: hidden;
	margin-top: 10px;
	padding: 30px 10px 10px 30px;	
}
.follower a:hover{ 
	color: #07695E;
	text-decoration: underline;
}
}
.follower p {
	font-size: 20px;
	line-height: 1em;
	border-bottom: 1px dashed #ccc
}

.follower img {
	width: 45px;
	height: 45px;
	display: block;
	margin: 0 auto
}

.perfollower {
	height: 65px;
	width: 68px;
	overflow: hidden;
	line-height: 18px;
	float: left;
	text-align: center;
	font-size: 12px
}
.follower_title{
	 font-size: 18px; 
	 margin-top: 15px; 
	 height: 33px;
	 border-bottom: 2px solid #DCDDD9; 
} 

.follower_title .followernum{
	border-bottom: 2px solid #00a090;
	padding: 5px 3px;
	position: relative;
	height: 33px;
	margin-bottom: -2px;
	display: inline-block;
	color: #555;
} 
.fansuserlink{
	width: 100%;
	height: 40px;
	display: block;
}
.fansuserlink:hover{
	background-color: #F0F0F0;
}
.followerwrap{
	height: 40px;
	width: 100%;
	padding: 5px 5px; 
	line-height: 18px;
	float: left;
	text-align: center;
	font-size: 12px;
	border-bottom: 1px solid #eee;
}
.followerwrap .imagewrap{
	width: 30px;
	height: 30px;
	display: block;
	margin: 0 auto;
	border-radius: 30px;
	display: inline-block;
	float: left;
}
.followerwrap .namewrap{
	display: inline-block;
	float: left;
	height: 30px;
	margin-left: 20px;
	line-height: 30px;
}
.followerwrap img{
	width: 30px;
	height: 30px;
	display: block;
	margin: 0 auto;
	border-radius: 30px;
}
.more_follower{
	color:#747C81;
	float: right;
	font-size: 16px;
	height: 25px;
	line-height: 40px;
}

.site_intro{
	margin-top: 20px;
}
.site_list a{	
	transition:all 0.5s;
	line-height: 25px; 
} 
.site_list a:hover{
	background: #fff;
	color: #07695E; 
	margin-left: 20px;
} 
.pubone{
	padding-bottom: 30px;
}
.pubone a{
	position: relative;
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 60px;
	background-color: #00a090;
	font-size: 31px;
	line-height: 60px;
	color: #FFF;
	text-align: center; 
	-webkit-transition: color .3s;
	-moz-transition: color .3s;
	transition: color .3s;
}
.downloadapp a{
	position: relative;
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 60px;
	background-color: #4a7aaa;
	font-size: 31px;
	line-height: 60px;
	color: #FFF;
	text-align: center; 
	-webkit-transition: color .3s;
	-moz-transition: color .3s;
	transition: color .3s;
}
.downloadapp a:hover{
	background-color: rgba(128, 144, 160, 1);
	color: #fff;
	text-decoration: none;
}
.pubone a::before {
	position: absolute;
	top: 40%;
	left: 50%;
	color: transparent;
	content: '•';
	text-shadow: 0 0 transparent;
	font-size: 1.2em;
	-webkit-transition: text-shadow 0.3s, color 0.3s;
	-moz-transition: text-shadow 0.3s, color 0.3s;
	transition: text-shadow 0.3s, color 0.3s;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	pointer-events: none;
}

.pubone a:hover::before,
.pubone a:focus::before {
	color: #fff;
	text-shadow: 15px 0 #fff, -15px 0 #fff;
}

.pubone a:hover,
.pubone a:focus {
	color: #FFF;
}
.everyday{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 133px;
	border-radius: 5px;
	-webkit-user-select: none;
} 
.everyday:hover .everyday_img{
	-webkit-transition: all .8s;
	-moz-transition: all .8s;
	transition: all .8s;
	opacity: 0.6;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}   
.everyday:hover .everyday_text_cn{
	-webkit-transition: all .8s;
	-moz-transition: all .8s;
	transition: all .8s;
   	visibility: hidden;
	-webkit-transform:  translateX(-100%) ;
}
.everyday:hover .everyday_text_en{
	-webkit-transition: all .8s;
	-moz-transition: all .8s;
	transition: all .8s;
   visibility: visible;
  -webkit-transform:  translateX(0) ;
}
.everyday_text{
	position: absolute;
	width: 100%; 
	vertical-align:middle;
	z-index: 33;

}
.everyday_text_cn, .everyday_text_en{
	position: absolute;
	top: 0px;
	color: #637EAD;
	font-size: 15px;
	line-height: 27px;
	margin: 10px
}
.everyday_text_en{	
  -webkit-transform:  translateX(-100%) ;
  -webkit-transition: all 0.5s ease-in-out;
  visibility: hidden;
} 
.everyday_text_cn{	
  -webkit-transform:  translateX(0px) ;
  -webkit-transition: all 0.5s ease-in-out;
  margin-top: 25px;
  visibility: visible;
} 