#gotopbtn {
	position: fixed;
	text-align: center;
	line-height: 30px;
	background-color: rgba(0, 160, 144, 0.3);
	bottom: -45px;
	width: 40px;
	height: 40px;
	padding: 5px;
	margin-right: 120px;
	font-size: 12px;
	cursor: pointer;
	right: 0;
	-webkit-transition: all linear .2s;
	-moz-transition: all linear .2s;
	-ms-transition: all linear .2s;
	-o-transition: all linear .2s;
	transition: all linear .2s;
}
#gotopbtn:hover{
	background-color: rgba(0, 160, 144, 0.8);
}
#gotopbtn  span{	
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: #fff;
}
.yjfk {
	position: fixed;
	top: 150px;
	right: 0;
	width: 26px;
	height: 90px
}

.yjfk a {
	display: block;
	background: url(/images/fk.gif) no-repeat;
	width: 26px;
	height: 90px;
	overflow: hidden
}

.yjfk a:hover {
	background-position: 0 -90px
}