a.followfri:hover{
	color: #fff;
} 
a.unfollowfri:hover{
	color: #fff;
} 

.articleitem .reply{
	display: inline-block;
	float: right;
}
.fade_trans{
     -webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both
}
.nomore{
	float: right;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #fff;
	text-align: center;
	cursor: pointer;
	border-bottom: #eee 1px solid;
} 
.get_more{
	margin-top: 10px;
	display: block;
}
.get_more{
	color: #808080;
}
.get_more:hover{
	color: #808080 !important;	
}
.navigator{	
    width: 100%; 
    margin-top: 10px;
    padding: 10px 20px;
    display: block;
}
.next_page{
	float: right;
	width: 120px;
	height: 32px;
	line-height: 32px; 
	color: #868686; 
	background-color: #fff;
	text-align: center;
	border-radius: 16px;
	border: 2px solid #868686;
	cursor: pointer;
} 
.next_page:hover{
	color: #07695E;
	border: 2px solid #07695E;
}
.last_page{
	float: left;
	width: 120px;
	height: 32px;
	line-height: 32px; 
	color: #868686; 
	background-color: #fff;
	text-align: center;
	border-radius: 16px;
	border: 2px solid #868686;
}
.last_page:hover{
	color: #07695E; 
	border: 2px solid #07695E;
}
.page_numwrap{
	height: 32px; 
	margin: 0 160px;
}
.page_num{
	border-radius: 16px;
	line-height: 30px;
	font-size: 18px;
	height: 32px;
	display: block;
	color: #A09999;
	width: 50px;
	margin: 0 auto;
	text-align: center;
	border: 2px solid #A09999;
}
.user_near_article{
	overflow: hidden;
}
.user_near_article .articleitem{p
	margin-top: 1px; 
}

.perfollower img {
	vertical-align: middle;
	height: 45px;
	display: block;
	width: 45px;
	margin: 0 auto; 
}
.page_header_info{
	font-size: 15px;
	margin-top: 15px;
	height: 40px;
	border-bottom: 2px solid #DCDDD9;
}
.page_header_info .tab-cell{
	border-bottom: 2px solid #DCDDD9;
	padding: 5px 10px;
	position: relative;
	height: 40px;
	margin-bottom: -2px;
	display: inline-block;
	color: #555;
	-webkit-transition: all linear .2s;
	-moz-transition: all linear .2s;
	-ms-transition: all linear .2s;
	-o-transition: all linear .2s;
	transition: all linear .2s;
}
.page_header_info .active-tab-cell{
	border-bottom: 2px solid #00a090;
	padding: 5px 10px;
	position: relative;
	height: 40px;
	margin-bottom: -2px;
	display: inline-block;
	color: #555;
}
.tab-cell:hover{
	border-bottom: 2px solid #00a090;
}