<% include partial/header%>
</head>
<body>	
	<% include partial/nav %>
	<div class="mainwrap">
		<div class="account_panel">
			<div class="set-header">
				<ul class="settab">
					<li><a href="/set">基本信息</a></li>
					<li><a href="/set/account" class="curset">账号设置</a></li>	
					<li><a href="/set/avatar">头像设置</a></li>
					<div style="clear:both"></div>
				</ul>
			</div>
		<div class="setpanel"> 
			<div class="msgbox">
				<% if(typeof(msg) !== 'undefined' && msg.status !== -1){ %>
					<div class="<%=(msg.status === 1)?"sucesssty":"alertsty" %>" role='alert'>
						<%-msg.content %>
						</div> 
				<% } %>
			</div>
					<div class="accountinfo">
						<form class="form-horizontal" role="form" action="/set/account" method="POST">
							<div class="form-group"> 
								<div class="col-sm-10">
								 <p><span>原密码</span> </p> 
								 <input type="password" class="form-control " id="oldpwd" name="oldpwd" >
								</div>
							</div>
							<div class="form-group"> 
								<div class="col-sm-10">
									 <p><span>新密码</span> </p>
									<input type="password" class="form-control " id="newpwd" name="newpwd" >
								</div>
							</div> 
							<div class="form-group">
								<div class="col-sm-10">
									<p><span>新密码</span></p>
									<input  type="password" class="form-control " id="newpwdagain" name="newpwdagain" >
								</div>
							</div> 
							<div class="form-group">
								<div class=" col-sm-10">
									<button type="submit" class="btn btn-default">确定修改</button>
								</div>
							</div>
						</form>
					</div> 

	 		</div>
			<div style="clear:both"></div>
			</div>
		</div>		
	</div>				
			<% include partial/footer %>