<% include partial/header%>
</head>
<body> 
	<div class="ad_wrap">  
        <a class="ad_pre" href="/">网站首页</a>
			<div class="ad_nav">
		    	<a class="ad_nav_cata" href="/admin_articles">管理文章</a>
		    	<a class="ad_nav_cata" href="/admin_crawer" >管理爬虫</a>
		    	<a class="ad_nav_cata" href="/admin_site" >管理Site</a>
		    </div>
		</div>
		<div style="clear:both"></div>
	</div>				
 </body>
 </html>

