<% include partial/header%>
</head>
<body> 
	<div class="ad_wrap"> 
        <a class="ad_pre" href="/admin">管理首页</a>
		    <div class="ad_nav">  
		       	<a class="ad_nav_cata" href="http://www.38sr.com/crawer?flag=5" data-toggle="modal" data-target="#addSiteModel">增加一个Site</a>
            <a class="ad_nav_cata" href="http://www.38sr.com/crawer?flag=5" data-toggle="modal" data-target="#editSiteModel">编辑一个Site</a>
		    </div> 
		</div>
		<div style="clear:both"></div>
	</div>				
 
<!-- addSiteModel -->
<div class="modal fade" id="addSiteModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">增加一个网站</h4>
      </div>
      <div class="modal-body">
           <div class="form-horizontal">
              <div class="form-group"> 
            <div class="col-sm-10">
            <input class="form-control" id="sdomain" name="sdomain" placeholder="网站域名">
            </div>
          </div>  
          <div class="form-group"> 
            <div class="col-sm-10">
            <input class="form-control" id="sname" name="sname" placeholder="网站名字">
            </div>
          </div> 
          <div class="form-group"> 
            <div class="col-sm-10">
            <input class="form-control" id="sbrief" name="sbrief" placeholder="网站简介">
            </div>
          </div>  
          <div class="form-group"> 
            <div class="col-sm-10">
            <input class="form-control" id="spic" name="spic" placeholder="网站图片">
            </div>
          </div>  
          <div class="form-group"> 
            <div class=" col-sm-10">
                <input type="file" id="sitepicfile" name="picture" />
              </div>
          </div>
          <span class = "help-inline" id = "spanMessage">选择文件，并上传</span>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="addsite">保存</button>
      </div>
    </div>
  </div>
</div>


<!-- delSiteModel -->
<div class="modal fade" id="editSiteModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">先一个网站</h4>
      </div>
      <div class="modal-body">
           <div class="form-horizontal">
              <div class="form-group"> 
            <div class="col-sm-10">
             <input class="form-control" id="sndomain" name="sndomain" placeholder="网站域名">
            </div>
          </div>
          <div class="form-group"> 
            <div class="col-sm-10">
            <input class="form-control" id="snname" name="snname" placeholder="网站名字">
            </div>
          </div> 
          <div class="form-group"> 
            <div class="col-sm-10">
            <input class="form-control" id="snbrief" name="snbrief" placeholder="网站简介">
            </div>
          </div>  
          <div class="form-group"> 
            <div class="col-sm-10">
            <input class="form-control" id="snpic" name="snpic" placeholder="网站图片">
            </div>
          </div>  
          <span class = "help-inline" id = "spanMessage2">先输入域名</span>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="updatesite">确定</button>
      </div>
    </div>
  </div>
</div>

 <script type="text/javascript"> 
    var spanMessage = $("#spanMessage"); 
    var spic = $("#spic");
    $("#sitepicfile").wrap("<form id='uploadsitepic' action='/sitepicupload' method='post' enctype='multipart/form-data'></form>");
      $("#sitepicfile").change(function(){   
      $("#uploadsitepic").ajaxSubmit({
        dataType:  'json',
        beforeSend: function() {
              spanMessage.text("正在上传..."); 
          }, 
        success: function(msg) {
          if(msg.type == 0){          
                spanMessage.text("上传失败");
          }else{            
                spanMessage.text("上传成功");  
                spic.val(msg.content); 
          }
        },
        error:function(){   
                spanMessage.text("上传失败");     
        }
      });
    });  
    </script>
 

