<% include partial/header%>
</head>
<body> 
	<div class="ad_wrap"> 
            <a class="ad_pre" href="/admin">管理首页</a>
		    <div class="ad_nav">  
		    	<a class="ad_nav_cata" href="http://www.38sr.com/crawer?flag=1" target="_blank">笑话</a>
		    	<a class="ad_nav_cata" href="http://www.38sr.com/crawer?flag=2" target="_blank">娱乐</a>
		    	<a class="ad_nav_cata" href="http://www.38sr.com/crawer?flag=3" target="_blank">爆料</a>
		    	<a class="ad_nav_cata" href="http://www.38sr.com/crawer?flag=4" target="_blank">情感</a>
		    	<a class="ad_nav_cata" href="http://www.38sr.com/crawer?flag=5" target="_blank">囧事</a>
		    </div> 
		</div>
		<div style="clear:both"></div>
	</div>				 
