<!DOCTYPE html>
<html>
<head> 
<title>通信查查</title> 
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<meta name="description" content="通信百科 ">
<meta name="keywords" content="通信百科 ">
<meta name="author" content="<@forest">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/images/favicon.ico">    
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<script src="/javascripts/jquery-min.js"></script>   

 <style type="text/css">
 @charset"utf-8";
html, body, div, section, p, dl, dd, h1, h2, h3, h4, h5, h6, a, b, u, em, input, textarea, button, select, form, section, label, span, td, li, nav, footer, body, ul, i {
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    font-family: "Microsoft YaHei", "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: normal;
}
a, img, button {
    -webkit-touch-callout: none
}
a {
    text-decoration: none;
    color: #333
}
a, input, button, textarea {
    outline: 0
}
ul, li, ol {
    list-style: none
}
html, body {
    font-size: 62.5%;
    background:#fff;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.hide{
    display: none;
}
.wrap{
    max-width: 38.4rem;
    margin: 0 auto;
}
.nav{
}
.nav h2{
    text-align: center;
    font-size: 2.4rem;
    display: block;
    padding:1rem 0;
    color:#fff;
    background: #00a090;
}
.notice_succ .notice_err{padding: 0rem}
.notice_succ_p{
    display: block;
    padding: 1rem 1.5rem;
    background: #AAE6F9;
    border-radius: .3rem;
    font-size: 1.4rem;
    color:#5F565A;
}
.notice_err_p{
    display: block;
    padding: 1rem 1.5rem;
    background: #EE8186;
    border-radius: .3rem;
    font-size: 1.4rem;
    color:#fff;
}

.content{
    margin: 0 auto;
    padding: 2rem 2rem;
}
.notic_p{
    background: #AAE6F9;
    display: block;
    padding: 1rem 2rem;
    border-radius: .3rem;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color:#666;
}
.ipt{
    display: block;
    width: 100%;
    border: 0;
    height: 2rem;
    margin: 5.5rem 0;
    background: 0;
    padding: .7rem 0;
    line-height: 20px;
    font-size: 1.6rem;
}

.loading{
    display: none;
}
.btn_check{
    display: block;
    width: 100%;
    margin-top: .5rem;
    padding: 1.5rem 2rem;
    font-size: 2rem;
    line-height: 2rem;
    color:#fff;
    background: #00a090;
    border:0 none;
    border-radius: .3rem;
}
.btn_check:hover,.btn_check:active{
    background:#0A766C;
}
.user_content{
    margin: 1rem 0;
}

.user_username{
    border: 1px solid #efefef;   
    padding-left: 15px; 
}

.footer{
    border-top: 1px solid #efefef;
    padding-top: 1rem;
    text-align: center;
    margin-top: 2.5rem;
}

.footer p{
    font-size: 1.2rem;
    line-height: 1.8rem;
}
.footer a{
    color: #424242;
    margin-left: .5rem;
    font-size:1.2rem;
}
.notice_succ_p div{
    border-bottom:1px dashed #867F7F;
    color: #867F7F;
}
.notice_succ_p div i{
    margin-right: 12px;
}
.wechat_share {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 100;
}
.wechat_share_wrap {
    position: relative;
    width: 100%;
    height: 100%
}
.arrow_point {
    position: absolute;
    right: 3rem;
    top: 1rem;
    background: url(wechat-share.png) no-repeat;
    width: 20rem;
    height: 10rem;
    background-size: 100%;
}

 </style>
</head>
<body>
<body>
<div class="nav"> 
<h2>通信查查</h2>
</div>
<div class="wrap"> 
<div class="content"> 
<div class="user_content"> 
  <input placeholder="通信查查" type="text" id="input_field" class="ipt user_username">
  <button type="submit" class="btn_check checkNow" id="btn_find"><i class="loading fa fa-circle-o-notch fa-spin"></i>看看查查</button>
</div>

<h2 class="notic_p">
  1.数据来源网络，我是搬运工<br>
  2.点击「查询」按钮即可<br>
  3.Posted by: <a href="http://weibo.com/ForestCho">@forest</a>
</h2>
<div id="result_pan" class="notice_err"> 
</div>
</div>
</div>
<h5>
</h5>

<script>
(function() {
$('#input_field').focus().bind('keypress',function(event){
     if(event.keyCode == "13")   
     {
        $('#btn_find').click();
     }
});

$("#btn_find").click(function(){ 
    var commstr =$("#input_field").val();
    var params = {commstr:commstr}; 
    $('.notic_p').hide();
    $.ajax({
        data: params,
        url: '/comm',
        dataType: 'json',
        cache: false,
        timeout: 5000,
        type: 'get',
        beforeSend:function(){
            $(".loading").css('display', 'inline-block'); //显示 
        },
        success: function(data){
             $(".loading").css('display', 'none'); //显示  
            if(data.content.length === 0 ){ 
                $('#result_pan').html('<p class="notice_err_p">失误了，我好像找不到哦</q> （︶︿︶）</p>');
            }else{ 
               $('#result_pan').html('<div class="notice_succ_p"><div>'+data.content+'</div><br></div>');
            }  

        }
    });
}); 
})(jQuery)
</script> 
</body>
</body>
</html>