<% include partial/header%>
</head>
<body>
<% include partial/nav %>
<div class="mainwrap">
	<% if(!locals.userinfo){%>
	<div class="rightwrap">
		<%}else{%>
		<div class="rightwrap index_rightwrap">
			<%}%>
			<% include partial/indexsidebar %>
		</div>
		<div class="leftwrap" ng-controller="IndexCtrl">
			<% if(!locals.userinfo){%>
			<div class="meiriyiju">
				<div class="onesentence"><p><%=mryj %></p></div>
				<div class="statistics"><p>共有<%=d.usercount %>位小伙伴,写下<%=d.count %><%= cataZh %><p></div>
			</div>
			<% } %>
			<div class="allmsg" >
				<div class="articleitem" ng-repeat="article in articlelist">
					<div class="photowrap"><a class="userlink show-pop-async" data-uid={{ article._creator.uid }} href="/user/{{ article._creator.name }}"><img src={{ article._creator.photo }}></a></div>
					<div style="margin-left:55px;">
						<div>
							<a class="title" id={{ article.tid }} href="/user/{{ article._creator.name }}">{{ article._creator.name }}</a>
							<span>说</span>
							<p class="item_title"><a href="/article/{{ article.tid }}">{{ article.title }}</a></p>
							
							<div class="msg_content">{{ article.newcontent }} </div>
							
						</div>
						<div class="msg_date"><i class="fa fa-clock-o"></i>{{ article.convertdate  }}
							<div class="operwrap btn-group">
								<a class="viewbtn btn" data-tid="{{ article.tid }}" title="查看"><span>{{ article.view_count }}</span><i class="fa fa-eye"></i></a>
								<a class="likebtn  btn" data-tid="{{ article.tid }}" title="赞"><span>{{ article.like_count }}</span><i class="fa fa-chevron-up"></i></a>
								<a class="unlikebtn btn" data-tid="{{ article.tid }}" title="踩"><span>{{ article.unlike_count }}</span><i class="fa fa-chevron-down"></i></a>
								<a class="replybtn btn" href="/article/{{ article.tid }}" title="吐糟">{{ article.reply_count }}<i class="fa fa-comments"></i></a>
							</div>
						</div>
					</div>
					<div class="clearfix"></div> 
				</div>
				<div class="clearfix" ></div>
			</div>
			<p class="text-center a_loading"  ng-show="loading">
				<img src="/images/loading.gif">
			</p>
			<div class="pagination_container">
				<div gen-pagination="pagination"></div>
			</div>
 			<!--<% include partial/pagination%> -->
		</div>
	</div>
	<div style="clear:both"></div>
</div>
<% include partial/footer %>