.cloud{
  -webkit-animation: stormy 8s ease-in-out infinite;
  animation: stormy 8s ease-in-out infinite;
    opacity: 0;
    top: -500px;
    transition: all 1s ease 0s;
    transition-delay: 0.7s;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: #ffffff 65px -15px 0 -5px, 
     #ffffff 32px -25px, 
     #ffffff 30px 10px, 
     #ffffff 60px 15px 0 -10px, 
     #ffffff 85px 5px 0 -5px;
    height: 50px;
    width: 50px;
    margin-left: -60px;
    position: absolute;
    left: 75%; 
}
.cloud:after {
  -webkit-animation: snowy_shadow 5s ease-in-out infinite 1s;
  animation: snowy_shadow 5s ease-in-out infinite 1s;
  background: #000000;
  border-radius: 50%;
  content: '';
  height: 15px;
  width: 120px;
  opacity: 0.2;
  position: absolute;
  left: 8px;
  bottom: -60px;
  -webkit-transform: scale(.7);
  -ms-transform: scale(.7);
  transform: scale(.7);
}
 .active .cloud{
    opacity: 1;
    top: 50px; 
}
  
 .cloud1{
  -webkit-animation: stormy1 14s ease-in-out infinite;
  animation: stormy1 14s ease-in-out infinite;
    opacity: 0;
    top: -500px;
    transition: all 1s ease 0s;
    transition-delay: 0.7s;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: #ffffff 44px -13px 0 -5px, #ffffff 20px -11px, #ffffff 30px 10px, #ffffff 52px 15px 0 -10px, #ffffff 60px 5px 0 -5px;
    height: 40px;
    width: 40px;
    margin-left: -60px;
    position: absolute;
    left: 15%; 
}
.cloud1:after {
  -webkit-animation: snowy_shadow 5s ease-in-out infinite 1s;
  animation: snowy_shadow 5s ease-in-out infinite 1s;
  background: #000000;
  border-radius: 50%;
  content: '';
  height: 15px;
  width: 100px;
  opacity: 0.2;
  position: absolute;
  left: 8px;
  bottom: -60px;
  -webkit-transform: scale(.7);
  -ms-transform: scale(.7);
  transform: scale(.7);
}
 .active .cloud1{
    opacity: 1;
    top: 90px; 
}
@-webkit-keyframes stormy {
  50% { -webkit-transform: translateX(-50px); transform: translateX(-50px); } 
}
@keyframes stormy {
  50% { -webkit-transform: translateX(-50px); transform: translateX(-50px); } 
}
@-webkit-keyframes stormy1 {
  50% { -webkit-transform: translateX(100px); transform: translateX(100px); } 
}
@keyframes stormy1 {
  50% { -webkit-transform: translateX(100px); transform: translateX(100px); } 
}
.title{
  font-size:25px;
  text-align: center;
  position:relative;  
  left:-8000%;  
  transition: all 1s ease-in-out 0s;
  transition-delay: 0.7s;
}
.active .title{
  margin:0 auto;
}p