<% include partial/header%>
</head>
<body>	
	<% include partial/nav %>
	<div class="mainwrap"> 
    <div class="rightwrap"> 
      <% include partial/pubsidebar %>
    </div>
		<div class="leftwrap">
			<div class="writepanel">
        <ul class="share_model">
          <li><a id="tab_share_on" class="share_tab_active">心情</a></li>
          <li><a id="tab_link_on" class="">快链</a></li>
        </ul>
        <div class="tab_on" id="tab_share">
  				<form class="navbar-form navbar-right" id="pubstr" name="pubstr" method="POST" action="/puba">
            <div class="category">
               <select class="form-control" name="cateid">
                    <option value='0'>默认</option>
                    <option value='1'>笑话</option>
                    <option value='2'>娱乐</option>
                    <option value='3'>爆料</option>
                    <option value='4'>情感</option>
                    <option value='5'>囧人糗事</option> 
                </select>
            </div>
            <div class="titlewrap">
              <a href="#" id="add_title">添加一个标题</a>
              <div id="title_input" style="display:none;">
                <input  class="form-control " id="title" name="title" placeholder="">
                <span>标题不少于5个字</span>
              </div>
            </div>
  					<textarea type="text" class="writebox textarea" name="mcontent" id="postcontent" placeholder="写点什么呢?"></textarea> 
  					<div class="subarticle_wrap"><button type="submit" class="btn btn-success" id="subarticle">发布</button></div>
  				</form>
        </div>
        <div class="tab_off" id="tab_link">  
          <form class="navbar-form navbar-right" id="pubstr" name="pubstr" method="GET" action="/publ">
            <div id="link_input" >
              <input  class="form-control " id="url" name="url" placeholder="请输入分享的链接"> 
              <button type="submit" class="btn btn-success" id="searchtitle"><i class="loading fa fa-circle-o-notch fa-spin"></i>查询</button>
            </div> 
            <textarea type="text" class="writebox textarea" id="pub_link_brief" name="publinkbrief" placeholder="点击查询可自动生成网页title"></textarea> 
            <div class="sublink_wrap">
              <button type="submit" class="btn btn-success" id="sublink">发布</button>
            </div>
          </form> 
        </div>
			</div>
		</div>	
		<div style="clear:both"></div>	
	</div>		

   
<!-- Modal -->

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">图片上传</h4>
      </div>
      <div class="modal-body">
        <div class="btninner">
          <a id="choose-btn-id" class="choose-btn">选择文件</a>
          <input id="choose" name="picture" type="file" class="b-button__input">
        </div>
        <h4 class="submitinfo" id="submitinfo"></h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> 
        <button type="button" id="savepic" class="btn btn-primary " style="display:none">插入图片</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="linkmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">插入超链接</h4>
      </div>
      <div class="modal-body"> 
          <div class="form-group">
                  <input  class="form-control " id="linkname" name="linkname" placeholder="链接">  
          </div>
          <div class="form-group">
                  <input  class="form-control " id="link" name="link" value="http://">  
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> 
        <button type="button" id="insertlinkbtn" class="btn btn-primary " style="display:none">插入链接</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var editor =  new Editor();
  editor.render(document.getElementById('postcontent'));
</script>

	<% include partial/footer %>