<% include partial/header%>
</head>
<body>	
	<% include partial/nav %>
	<div class="mainwrap reglogin_mainwrap"> 
			<div class="reglogin_head_info panel-heading">
				注册
			</div>  
		<div class="regpanel">		
			<div class="leftreg">
				<form class="form-horizontal reglogin_formwrap" method="POST" action="/reg" role="form" >
					<div class="form-group"> 
						<div class="col-sm-10">
							<input  class="form-control accountbg" id="uname" name="uname" placeholder="帐号">
						</div>
					</div>
					<div class="form-group"> 
						<div class="col-sm-10">
							<input type="email" class="form-control emailbg" id="email" name="email" placeholder="邮箱">
						</div>
					</div>
					<div class="form-group"> 
						<div class="col-sm-10">
							<input type="password" class="form-control pwdbg" id="pwd" name="pwd" placeholder="密码">
						</div>
					</div>
					<div class="form-group"> 
						<div class="col-sm-10">
							<input type="password" class="form-control pwdbg" id="pwdagain" name="pwdagain" placeholder="再次密码 ">
						</div>
					</div> 
					<div class="form-group">
						<div class="col-sm-10">
							<button type="submit"  id="regBtnSub">注册</button>
						</div>
					</div>
				</form>
			</div>

			<div class="rightreg">
				<div class="rightpanelinfo">
					<ul class="nav_reg_login">
						<li>
							>> 已经注册过，<a href="/login">马上登录</a>
						</li>
					</ul>
				</div>
			</div>
			<div style="clear:both"></div>			
		</div>
		<div class="msgbox"> 
				<% if(typeof(msg) !== 'undefined' && msg.status !== -1){ %>
					<div class="<%=(msg.status === 1)?"sucesssty":"alertsty" %>" role='alert'>
						<%-msg.content %>
						</div> 
				<% } %>
		</div>	
	</div>			
	<% include partial/footer %>