<% include partial/header%>
</head>
<body> 
	<% include partial/nav %>
	<div class="mainwrap">
		<h3>注册界面</h3>
		<div class="regpanel">		
		<div class="msgbox"> 
			<% if(typeof(msg) !== 'undefined' && msg.status !== -1){ %>
				<div class="<%=(msg.status === 1)?"sucesssty":"alertsty" %>" role='alert'>
					<%-msg.content %>
					</div> 
			<% } %>
		</div>	
			<div class="leftreg">
				<form class="form-horizontal" method="POST" action="/reg" role="form" >
					<div class="form-group"> 
						<div class="col-sm-10">
							<input  class="form-control accountbg" id="uname" name="uname" placeholder="name">
						</div>
					</div>
					<div class="form-group"> 
						<div class="col-sm-10">
							<input type="email" class="form-control emailbg" id="email" name="email" placeholder="Email">
						</div>
					</div>
					<div class="form-group"> 
						<div class="col-sm-10">
							<input type="password" class="form-control pwdbg" id="pwd" name="pwd" placeholder="Password">
						</div>
					</div>
					<div class="form-group"> 
						<div class="col-sm-10">
							<input type="password" class="form-control pwdbg" id="pwdagain" name="pwdagain" placeholder="Password Again">
						</div>
					</div> 
					<div class="form-group">
						<div class="col-sm-10">
							<button type="submit" class="btn btn-default" id="regBtnSub">注册</button>
						</div>
					</div>
				</form>
			</div>

			<div class="rightreg">
				<div class="rightpanelinfo">
					>> 已经注册过，<a href="/login">马上登录</a>
				</div>
			</div>
			<div style="clear:both"></div>

		</div>
	</div>			
	<% include partial/footer %>