<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" " 
 
http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html><head>
  <meta charset="utf-8">
  <meta http-equiv="pragma" content="no-cache"> 
  <meta http-equiv="Cache-Control" content="no-store, must-revalidate"> 
  <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT"> 
  <meta http-equiv="expires" content="0"> 
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.7/jquery.fullPage.css">
  <link rel="stylesheet" href="/stylesheets/weixin.css">
  <link rel="stylesheet" href="/stylesheets/page.css">
  <link rel="stylesheet" href="/stylesheets/base.css">
  <style>
  html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
    user-select: none;
  }
  body {
    line-height: 1.6;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f1f0f6;
  }  

</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.7/jquery.fullPage.js"></script>
<script src ="/javascripts/weixin.js"></script>
<script>
$(function(){
  $('#fullpage').fullpage({
    sectionsColor: ['#1bbc9b', '#4BBFC3', '#00896C', '#00896C', '#00896C', '#00896C', '#00896C', '#00896C', '#00896C', '#00896C']
  });
});
</script>
</head>
<body ontouchstart=""> 
<div class="icon-audio f-top0" data-type="audio" style="-webkit-transform: translate(0px, 0px) translateZ(0px) scale(1, 1);">
    <div class="icon-audio-on" data-action="Action://music#off"><i class="playmusic"></i></div>
    <div class="icon-audio-off hide" data-action="Action://music#on"></div>
  <audio preload="preload" loop="" id="audio" src="/music/ykzzldx.mp3">
    <source src="/music/ykzzldx.mp3" type="audio/mpeg">Your browser does not support the audio element.</audio>
</div>
<audio preload="preload" loop="" id="audio" src="http://file2.zuiku.com/2015/07/22/14/22_d8ce815b42e83826845b4675637e2047.mp3"><source src="http://file2.zuiku.com/2015/07/22/14/22_d8ce815b42e83826845b4675637e2047.mp3" type="audio/mpeg">Your browser does not support the audio element.</audio>
<!--
<div class="webapp-loading flexbox center middle">
  <figure class="newloading-logo">
    <figcaption class="flexbox center middle newringlogo-box">
      <div class="newringlogo-icon"></div>
      <div class="newloading-pic"><img src="http://www.zuiku.com/res/img/logic/default/newloading.jpg"></div>
      <div class="newloading-ptxt"></div>
    </figcaption>
  </figure>
</div>-->
<div id="fullpage">
    <div class="section">
      <div class="cloud"></div>
      <div class="cloud1"></div>
      <div class="title">
        七夕节 <br>
        Double Seventh Festival
       </div>
    </div>
    <div class="section"><div class="shidameinv">中国<br>古代<br>八大<br>美女</div></div>
    <div class="section">
        <div class="sectionwrap">
          <div class="numwrap"><div class="num">「八」 郑旦</div></div>
          <div class="namewrap"><div class="name">春秋末年越国（美人，与西施同时齐名</div></div>
          <div class="photowrap"> 
              <div class="ftop"></div>
              <div class="fright"></div>
              <img class="photo" src="/music/pic/0.jpg"> 
              <div class="fbottom"></div>
              <div class="fleft"></div>
            </div>
          <div class="briefwrap"><div class="brief">在越教授以礼仪，习以歌舞<br>精通舞技，容貌堪比西施<br>与西施有“浣纱双姝”之称。</div></div>
        </div>
    </div> 
    <div class="section">
        <div class="sectionwrap">
          <div class="numwrap"><div class="num">「七」 甄宓</div></div>
          <div class="namewrap"><div class="name">文昭甄皇后，名不明, 又称甄夫人</div></div>
          <div class="photowrap"><img class="photo" src="/music/pic/1.jpg"></div>
          <div class="briefwrap"><div class="brief">刘良：“此女贵乃不可言。”<br>卞夫人：“此真孝妇也。”</div></div>
        </div>
    </div> 

     <div class="section">
        <div class="sectionwrap">
          <div class="numwrap"><div class="num">「六」 褒姒</div></div>
          <div class="namewrap"><div class="name">姒姓，褒国人，周幽王姬宫湦第二任王后</div></div>
          <div class="photowrap"><img class="photo" src="/music/pic/2.jpg"></div>
          <div class="briefwrap"><div class="brief">褒姒生性不爱笑,周幽王为<br>取悦褒姒,举烽火召集<br>诸侯诸侯匆忙赶至,却发觉<br>并非寇匪侵犯只好狼狈退走</div></div>
        </div>
    </div> 

     <div class="section">
        <div class="sectionwrap">
          <div class="numwrap"><div class="num">「五」 苏妲己</div></div>
          <div class="namewrap"><div class="name">冀州侯苏护之女，河内温人</div></div>
          <div class="photowrap"><img class="photo" src="/music/pic/3.jpg"></div>
          <div class="briefwrap"><div class="brief">《史记》记载: 妲己是有苏氏诸侯<br>之女，乃一个美若天仙、能歌善<br>舞、国色天香的美人</div></div>
        </div>
    </div> 

     <div class="section">
        <div class="sectionwrap">
          <div class="numwrap"><div class="num">「四」 赵飞燕</div></div>
          <div class="namewrap"><div class="name">赵氏，号飞燕，宫女出身<br>汉成帝刘骜第二任皇后</div></div>
          <div class="photowrap"><img class="photo" src="/music/pic/4.jpg"></div>
          <div class="briefwrap"><div class="brief">苦心膏沐不论赀,富贵人生各有时<br>
直使中流畏仙去,君王何啻似婴儿</div></div>
        </div>
    </div> 

     <div class="section">
        <div class="sectionwrap">
          <div class="numwrap"><div class="num">「三」 王昭君</div></div>
          <div class="namewrap"><div class="name">昭君画像王嫱，号昭君，南郡秭归人</div></div>
          <div class="photowrap"><img class="photo" src="/music/pic/6.jpg"></div>
          <div class="briefwrap"><div class="brief">昭君自有千秋在，胡汉和亲识见高<br>词客各抒胸臆懑，舞文弄墨总徒劳<br>——董必武</div></div>
        </div>
    </div> 
    <div class="section">
        <div class="sectionwrap">
          <div class="numwrap"><div class="num">「二」 貂蝉</div></div>
          <div class="namewrap"><div class="name">文昭甄皇后，名不明, 又称甄夫人</div></div>
          <div class="photowrap"><img class="photo" src="/music/pic/7.jpg"></div>
          <div class="briefwrap"><div class="brief">榆钱不买千金笑，柳带何须百宝妆<br>舞罢隔帘偷目送，不知谁是楚襄王</div></div>
        </div>
    </div> 
     <div class="section">
        <div class="sectionwrap">
          <div class="numwrap"><div class="num">「一」西施</div></div>
          <div class="namewrap"><div class="name">西施本名施夷光，越国美女，一般称其为西施</div></div>
          <div class="photowrap"><img class="photo" src="/music/pic/8.jpg"></div>
          <div class="briefwrap"><div class="brief">中国古代四大美女，其中西施居首<br>四大美女享有“闭月羞花之貌，<br>沉鱼落雁之容”之美誉。</div></div>
        </div>
    </div>  
</div>

<div class="arrowwarp"><i class="arrowimg"></i></div>
</body>
<script>
(function(){



  var ImageLoader = window["ImageLoader"] = function(){
    this.images = [];
    this.counter = {
      success: 0,
      failed: 0
    };
    this.percentNode = document.querySelector(".newloading-ptxt");
  };

  ImageLoader.prototype = {
    add: function(url){
      this.images.push(url);
      return this;
    },
    notify: function(key){
      this.counter[key]++;
      var counter = this.counter;
      var size = this.images.length + 2;
      var loaded = counter.success + counter.failed;
      var percent = Math.min(((loaded / size) * 100).toFixed(0), 100);
      var percentNode = this.percentNode;
      if(percentNode){
        percentNode.innerHTML = (percent + "%");
      }

      ImageLoader.complete = (loaded >= size);
    },
    load: function(){
      var imgs = this.images;
      var size = imgs.length;
      ImageLoader.startTime = (new Date().getTime());
      for(var i = 0; i < size; i++){
        ImageLoader.loader(this, imgs[i]);
      }
    }
  };

  ImageLoader.start = 0;
  ImageLoader.complete = false;
  ImageLoader.Cache = {};

  ImageLoader.loader = function(imageLoader, url){
    var img = new Image();

    img.onload = function(){
      imageLoader.notify("success");
      img = null;
    };

    img.onerror = function(){
      imageLoader.notify("failed");
      img = null;
    }

    img.src = url;
  };
  ImageLoader.timeout = function(){
    var end = (new Date().getTime());
    var diff = end - ImageLoader.start;
    return (diff >= 5000);
  };

  ImageLoader.getImageLoader = function(name){
    var loader = ImageLoader.Cache[name] || (ImageLoader.Cache[name] = new ImageLoader());
    return loader;
  }

  var loader = ImageLoader.getImageLoader("progress");  
  loader.add('http://file2.zuiku.com/2015/08/07/10/43036_e781ecd07fcdfcb509fef3fa5c561679.png'); 
  loader.load();

})();
</script>
</html>

