       <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">

                        <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="<%=locals.userinfo.photo %>" />
                             </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                                <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold"><%=locals.userinfo.name %></strong>
                             </span>  <span class="text-muted text-xs block">超级管理员 <b class="caret"></b></span> </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="form_avatar.html">修改头像</a>
                                </li>
                                <li><a href="profile.html">个人资料</a>
                                </li>
                                <li><a href="contacts.html">联系我们</a>
                                </li>
                                <li><a href="mailbox.html">信箱</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="/admin/logout">安全退出</a>
                                </li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            H+
                        </div>

                    </li>
                    <li>
                        <a href="/admin/index"><i class="fa fa-home"></i> <span class="nav-label">主页</span> </a> 
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-file-o"></i> <span class="nav-label">文章管理</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="/admin/addarticle">增加文章</a>
                            </li>
                            <li><a href="/admin/list">文章列表</a>
                            </li>  
                        </ul>
                    </li>       
                    <li>
                        <a href="index.html#"><i class="fa fa-puzzle-piece"></i> <span class="nav-label">Site管理</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="/admin/addsiteindex">Site 新增</a>
                            </li>
                            <li><a href="/admin/updatesiteindex">Site 更新</a>
                            </li> 
                        </ul>
                    </li>
                    <li>
                        <a href="index.html#"><i class="fa fa fa-users"></i> <span class="nav-label">用户管理</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="/admin/userlist">用户列表</a>
                            </li> 
                        </ul>
                    </li>
                    <li>
                        <a href="/admin/logout"><i class="fa fa-sign-out"></i> <span class="nav-label">注销</span> </a> 
                    </li>
 
                </ul>

            </div>
        </nav>