<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
	<div class="am-offcanvas-bar admin-offcanvas-bar">
		<ul class="am-list admin-sidebar-list"> 
				<li><a href="/admin/index"><span class="am-icon-home"></span> 首页</a></li>
				<li>
					<a data-am-collapse="{target: '#siteman'}">
						<span class="am-icon-th "></span> Site管理<span class="am-icon-angle-right am-fr am-margin-right"></span>
					</a>
					<ul class="am-list admin-sidebar-sub am-collapse am-in" id="siteman">
					<li>
						<a href="/admin/addsiteindex"  class="am-cf"><span class="am-icon-puzzle-piece"></span>  Site 新增<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a>
					</li>
					<li>
						<a href="/admin/updatesiteindex"><span class="am-icon-pencil-square-o">  Site 更新</span></a></li>
					</ul>
				</li> 
				<li>
					<a data-am-collapse="{target: '#articleman'}">
						<span class="am-icon-file "></span> 文章管理<span class="am-icon-angle-right am-fr am-margin-right"></span>
					</a>
					<ul class="am-list admin-sidebar-sub am-collapse am-in" id="articleman">
						<li><a href="/admin/addarticle"><span class="am-icon-pencil-square-o"></span> 增加文章<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
						<li>
						<a href="/admin/list"  class="am-cf"><span class="am-icon-list"></span> 文章列表</a></li>
					</ul>
				</li>
				<li>
					<a data-am-collapse="{target: '#userman'}">
						<span class="am-icon-user "></span> 用户管理<span class="am-icon-angle-right am-fr am-margin-right"></span>
					</a>
					<ul class="am-list admin-sidebar-sub am-collapse am-in" id="userman"> 
						<li>
						<a href="/admin/userlist"  class="am-cf"><span class="am-icon-list"></span> 用户列表</a></li>
					</ul>
				</li>
				<li><a href="/admin/logout"><span class="am-icon-sign-out"></span> 注销</a></li>
		</ul>
		<div class="am-panel am-panel-default" style="margin-top:10px">
			<div class="am-panel-bd">
				<p><span class="am-icon-bookmark"></span> 公告</p>
				<p>时光静好，与君语；细水流年，与君同。</p>
			</div>
		</div>
	</div>
</div>
	<!-- 按钮触发器， 需要指定 target --> 
 <a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>