
            <div class="footer">
                <div class="pull-right">
                    By：<a href="http://www.zi-han.net" target="_blank">zihan's blog</a>
                </div>
                <div>
                    <strong>Copyright</strong> H+ © 2014
                </div>
            </div>
        </div>
</div> 
<!-- content end -->
</div>
</body>
</html>