<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head> 
	<title><%= config.site.name + '-' + title %> </title> 
	<meta charset="UTF-8">
	<meta name="ujianVerification" content="ee8a13aa7bd02c94ede87ac5faba8147" />
	<meta name="description" content="<%= title %>">
	<meta name="keywords" content="<%= config.site.keywords %>">
	<meta name="author" content="<%= config.site.author %>">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/images/favicon.ico">    
<!-- 	<link rel='stylesheet' href='/stylesheets/admin/amazeui.css' />   --> 
	<link rel='stylesheet' href='/stylesheets/admin/editor.css' />  
	<link rel='stylesheet' href='/stylesheets/admin/bootstrap.css' />  
	<link rel='stylesheet' href='/stylesheets/admin/font-awesome.css' />  
	<link rel='stylesheet' href='/stylesheets/admin/admin.min.css' />   
	<link rel='stylesheet' href='/stylesheets/admin/style.min.css' />   
	<link rel='stylesheet' href='/stylesheets/admin/msgbox.min.css' />   

	<script   src="/javascripts/admin/jquery.min.js"></script> 
	<script   src="/javascripts/admin/jquery.form.min.js"></script>  
	<script   src="/javascripts/admin/editor.min.js"></script>    
	<script   src="/javascripts/admin/marked.min.js"></script>   
 	<script   src="/javascripts/admin/bootstrap.min.js"></script> 
 	<script   src="/javascripts/admin/jquery.metisMenu.js"></script> 
	<script   src="/javascripts/admin/msgbox.min.js"></script> 
 	<script   src="/javascripts/admin/admin.min.js"></script> 