<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="scotchTodo">
<head> 
	<title><%= config.site.name + '-' + title %> </title> 
	<meta charset="UTF-8">
	<meta name="ujianVerification" content="ee8a13aa7bd02c94ede87ac5faba8147" />
	<meta name="description" content="<%= title %>">
	<meta name="keywords" content="<%= config.site.keywords %>">
	<meta name="author" content="<%= config.site.author %>">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/images/favicon.ico">    
	<link rel='stylesheet' href='/stylesheets/admin/amazeui.css' />  
	<link rel='stylesheet' href='/stylesheets/admin/admin.min.css' />  
	<link rel='stylesheet' href='/stylesheets/admin/editor.css' />  
	<script   src="/javascripts/admin/jquery.min.js"></script> 
	<script   src="/javascripts/admin/jquery.form.js"></script> 
	<script   src="/javascripts/admin/amazeui.min.js"></script>   
	<script   src="/javascripts/admin/editor.js"></script>    
	<script   src="/javascripts/admin/marked.js"></script>   
 	<script   src="/javascripts/admin/admin.js"></script> 