<!DOCTYPE html>
<html>
<head> 
	<title><%= config.site.name + '-' + title %> </title> 
	<meta name="ujianVerification" content="ee8a13aa7bd02c94ede87ac5faba8147" />
	<meta name="description" content="<%= title %>">
	<meta name="keywords" content="<%= config.site.keywords %>">
	<meta name="author" content="<%= config.site.author %>">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/images/favicon.ico">   
	<style>
		body{
			background:#fff;
		}
		.am-text-center {
			text-align: center!important;
		} 
		.am-text-center {
			text-align: center!important;
		}
		.am-text-xxxl {
			font-size: 30px;
		}
		.am-margin-top-lg {
			margin-top: 150px;
		}
		.page-500{
			background: #fff;
			border: none;
			width: 170px;
			margin: 0 auto;
		}
		.returnlabel{

		}
		.returnlabel a{
			display: block;
			text-decoration: none;
			color: #333;
			width: 140px;
			margin: 0 auto;
			text-align: center;
			font-size: 13px;
		}		
		.returnlabel a:hover{
			color: #07695E;
			text-decoration: underline;
		}
	</style>
</head>
<body> 
	<div class="mainwrap">
		<div class="am-u-sm-12">
        <h2 class="am-text-center am-text-xxxl am-margin-top-lg">500. Server is Sleeping</h2>
        <p class="am-text-center">服务器开小差了，希望你能把这个BUG报告给我，主页->反馈</p>
        <pre class="page-500">          .----.
       _.'__    `.
   .--($)($$)---/#\
 .' @          /###\
 :         ,   #####
  `-..__.-' _.-\###/
        `;_:    `"'
      .'"""""`.
     /,  ya ,\\
    //  500!  \\
    `-._______.-'
    ___`. | .'___
   (______|______)
        </pre>
        <div class="returnlabel">
      	  <a href="/">服务器小差了</a>
      	</div>
      </div>
	</div>				
</body>
</html>