 		<div class="copyright">
 			<div id=gotopbtn>
 				<img border="0" src="/images/scrollup.png" style="height: 35px;width: 35px;">
 			</div> 

 			<script type="text/javascript">goTopEx();</script>  
			<script>
			(function(){

				var settings = {
						trigger:'hover',
						title:'38锶',
						content:'<p>This is webui popover demo.</p><p>just enjoy it and have fun !</p>',
						width:250,						
						multi:true,						
						closeable:true,
						style:'',
						padding:false
				};

				 
 
				function initPopover(){		  		 
					var
					 	asyncSettings = {	width:'auto',
					 						height:'auto',
					 						closeable:true,
					 						padding:false,
					 						cache:false,
					 						url:'/userinfo/',
					 						type:'async',   
					 						content:function(data){
					 							title = "ccc";
					 							var html = '<ul class="list-group">'; 
				 								html+='<li class="list-group-item">昵称:'+ data.name +'</li>';
				 								html+='<li class="list-group-item">加入:'+ data.cometime +'</li>';	
				 								html+='<li class="list-group-item">心情数:'+ data.articlenum +'</li>';	 	 
												html+='</ul>';
												return html;
					 						}};
					$('a.show-pop-async').webuiPopover('destroy').webuiPopover($.extend({},settings,asyncSettings));

					$('a.show-pop-event').each(function(i,item){
							var ename = $(item).text()+'.webui.popover';
							$(item).webuiPopover('destroy').webuiPopover(settings)
							.on(ename,function(e){
								var log =  ename+' is trigged!';
								if (console){
									console.log(log);
								}
								$('#eventLogs').text($('#eventLogs').text()+'\n'+log);
							});
					});


				}
				initPopover();
				
			})();
			
		</script>

			<p><a href="https://www.upyun.com/"><img src="https://upfiles.b0.upaiyun.com/logo/90x45.png" alt="UPYUN"></a>
			<span class="otherlink">版权所有 © 2014 38SR.COM</span>
			<a href="/about" class="otherlink">关于</a>  
			<a href="/shijian" class="otherlink">成长线</a>  
			<a href="/feedback" class="otherlink">反馈</a>   
			<a target="_blank" href="http://weibo.com/forestcho?from=profile&wvr=5&loc=infdomain" class="otherlink">微博</a> 
	 		<script src="https://s95.cnzz.com/stat.php?id=1253083255&web_id=1253083255" language="JavaScript" ></script>
			</p> 
		</div>
	</body>
	</html>