<div class="editnotice">
	<div class="pubnotice">
		<ul>
			<li>关于发帖
				<div>您可以发布心情，文章，以及快链．标题为空的话，则默认为心情.</div>
			</li> 
			<li>关于灌水
				<div>初期社区，需要人气，可以允许适当的灌水，勿刷屏．文章请保持一定的质量．</div>
			</li>
			<li>	
				正确使用markdown 
				<div class="markdown-notice">
					<ul>
						<li>### 单行的标题</li>
						<li>**粗体**</li>
						<li>`console.log('行内代码')`</li>
						<li>```js\n code \n``` 标记代码块</li>
						<li>[内容](链接)</li>
						<li>![文字说明](图片链接)</li>
						<li><a href="http://www.ituring.com.cn/article/775" target="_blank">Markdown 文档</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</div>